<mat-accordion>
    <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
    >
        <mat-expansion-panel-header>
            <mat-panel-title>
                Зачем сервису нужен декоратор "@Injectable()" и может ли сервис
                работать без него?
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            Декоратор <code>@Injectable()</code>
            <span class="attention">
                нужен для явного указания того, что сервис может использовать
                другие сервисы.
            </span>
        </p>
        <pre><code><span class="comment">// пример использования данного декоратора</span>
<span class="keyword">@Injectable</span><span class="punctuation">{{'({'}}</span><span class="key">providedIn</span>: <span class="string">'root'</span><span class="punctuation">{{'})'}}</span></code></pre>
        <p>
            Иначе говоря, данный декоратор гарантирует, что встроенный механизм
            внедрения зависимостей (dependency injection) сможет создать объект
            этого класса и передать в него в качестве зависимости другой объект
            (другой сервис или компонент, если в этом есть необходимость).
        </p>
        <p>
            Если серсис не использует никакие другие зависимости, то данный
            декоратор можно и не указывать. Без него сервис тоже будет работать.
            Но
            <span class="attention">
                среди Angular-разработчиков существует договоренность, что
                данный декоратор стоит применять к любому классу сервиса.
            </span>
        </p>
    </mat-expansion-panel>
</mat-accordion>
