<mat-accordion>
    <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
    >
        <mat-expansion-panel-header>
            <mat-panel-title> Зачем используется OnDestroy? </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            Данный этап жизненного цикла в основном
            <span class="attention"
                >используется для отписок от событий, на которые мы подписались
                в процессе работы компонента</span
            >.
        </p>
        <p>
            В примере ниже при инициализации компонента происходит подписка на
            сервис <code>SomeService</code>, который дает нам какие-то данные с
            сервера. И в конце жизненного цикла данного компонента мы отменяем
            подписку на получение данных из сервиса <code>SomeService</code>.
        </p>
        <p><i>В разработке...</i></p>
        <i class="subtitle">Зачем нужно отписываться от подписок?</i>
        <p>
            Потому что, если мы не будем отписываться, но при этом удалять
            данный компонент, например, переходить на другую страницу, а потом
            вернемся на страницу, где опять стаработает подписка, то количество
            подписчиков уже будет 2, а не 1. Следовательно, будут лишние
            действия при работе кода, что явно плохо скажется на оптимизации.
        </p>
        <p>
            Самый скверный вариант, если у вас происходит подписка на какое-то
            событие внутри функции <code>setInterval</code> и вы не
            отписываетесь каждый раз при срабатывании кода. Рано или поздно
            происзойдет утечка памяти и страничка в браузере "умрет" или ваше
            приложение попросту "зависнет".
        </p>
    </mat-expansion-panel>
</mat-accordion>
