<mat-accordion>
    <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
    >
        <mat-expansion-panel-header>
            <mat-panel-title> Зачем используется OnDestroy? </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            Данный этап жизненного цикла в основном
            <span class="attention"
                >используется для отписок от событий, на которые мы подписались
                в процессе работы компонента</span
            >.
        </p>
        <p>
            В примере ниже при инициализации компонента происходит подписка на
            событие маршрутизации. И в конце жизненного цикла данного компонента
            мы отменяем подписку на это же событие.
        </p>
        <pre><code><span class="export">export</span> <span class="keyword">class</span> <span class="class-name">AngularComponent</span> <span class="keyword">implements</span> <span class="interface-name">OnInit</span>, <span class="interface-name">OnDestroy</span> <span class="punctuation">{{'{'}}</span>
    currentPath: <span class="type">string</span>;
    currentPathSub: <span class="type">Subscription</span>;

    <span class="keyword">constructor</span><span class="punctuation">(</span><span class="keyword">private</span> router: <span class="class-name">Router</span><span class="punctuation">) {{'{}'}}</span>

    <span class="function-name">ngOnInit()</span>: <span class="type">void</span> <span class="punctuation">{{'{'}}</span>
        <span class="object">this</span>.currentPath <span class="operator">=</span> <span class="object">this</span>.router.url;
        <span class="object">this</span>.currentPathSub <span class="operator">=</span> <span class="object">this</span>.router.events.<span class="method">subscribe</span><span class="punctuation">((</span>event<span class="punctuation">)</span> <span class="operator">=></span> <span class="punctuation">{{'{'}}</span>
            <span class="keyword">if</span> (event <span class="keyword">instanceof</span> <span class="class-name">NavigationEnd</span>) <span class="punctuation">{{'{'}}</span>
                <span class="object">this</span>.currentPath <span class="operator">=</span> event.url;
            <span class="punctuation">{{'}'}}</span>
        <span class="punctuation">{{'}'}});</span>
	<span class="punctuation">{{'}'}}</span>
	<span></span>
    <span class="function-name">ngOnDestroy()</span>: <span class="type">void</span> <span class="punctuation">{{'{'}}</span>
        <span class="object">this</span>.currentPathSub.<span class="function-name">unsubscribe()</span>; <span class="comment">// не забываем отписаться</span>
    <span class="punctuation">{{'}'}}</span>
<span class="punctuation">{{'}'}}</span></code></pre>
        <i class="subtitle">Зачем нужно отписываться от подписок?</i>
        <p>
            Если мы не будем отписываться, но при этом удалять компонент,
            например, при переходе на другую страницу, а потом вернемся на
            страницу, где опять стаработает подписка, то количество подписчиков
            уже будет 2, а не 1. Сделаем тоже самое, будет 3 подписки и тд.
            Следовательно,
            <span class="attention">
                будут лишние действия при работе кода, что явно плохо скажется
                на оптимизации.
            </span>
        </p>
        <p>
            Пример плохого использования подписок: у вас происходит подписка на
            какое-то событие внутри функции <code>setInterval</code> и вы не
            отписываетесь каждый раз при срабатывании кода. Рано или поздно
            происзойдет утечка памяти и страничка в браузере "умрет" или ваше
            приложение попросту "зависнет".
        </p>
    </mat-expansion-panel>
</mat-accordion>
