:host {
    @media (max-width: 992px) {
        position: absolute;
        z-index: 2;
        height: calc(100vh - 118px);
        top: 110px;
        transition: 0.3s;
    }

    @media (max-width: 599px), (max-height: 440px) {
        height: calc(100vh - 110px);
        overflow: auto;
    }
}

.sidenav {
    width: 15rem;
    border-right: 1px solid rgba(211, 211, 211, 0.226);
    height: 100%;
    transition: 0.3s;
    background-color: #303030;

    @media (max-width: 992px) {
        position: relative;
        z-index: 2;
    }

    &_hide {
        @media (max-width: 992px), (max-height: 440px) {
            z-index: 0;
            transition: 0.3s;
        }
    }

    &__overlay {
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(128, 128, 128, 0.342);
    }

    mat-nav-list {
        position: sticky;
        top: 58px;
        left: 0;
        background-color: inherit;

        @media (max-width: 992px) {
            top: 0;
        }
    }

    .mdc-list {
        padding: 0;

        @media (max-width: 992px), (max-height: 440px) {
            padding: 8px 0;
        }
    }
}
