:host {
    min-height: 100%;
    border-right: var(--border);
    background-color: var(--mat-form-field-filled-input-text-placeholder-color);

    @media (max-width: 992px) {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        overflow: auto;
        z-index: 2;
        background: var(--secondary-color);
        transition: 0.3s;

        &.hideOnMobile {
            top: 0;
            left: -100%;
            z-index: 2;
        }
    }

    .sidebar {
        padding: 0 16px;
        height: calc(100% - var(--header-height) - var(--title-height));

        @media (max-width: 992px), (max-height: 440px) {
            height: calc(100vh - var(--header-height) - var(--title-height));
            overflow-y: auto;
        }

        &_hide {
            @media (max-width: 992px), (max-height: 440px) {
                top: 0;
                left: -100%;
                z-index: 0;
                transition: 0.3s;
            }
        }

        mat-nav-list {
            position: sticky;
            top: calc(var(--header-height) + 6px);
            left: 0;

            @media (max-width: 992px) {
                top: 0;
            }

            @media (max-height: 440px) {
                position: relative;
            }
        }

        .mdc-list {
            padding: 0;

            @media (max-width: 992px), (max-height: 440px) {
                padding: 8px 0;
            }
        }

        & ::ng-deep a {
            &:hover {
                .mdc-list-item__primary-text {
                    color: var(--primary-color);
                }
            }

            .mdc-list-item__primary-text {
                transition: 0.3s;
                color: var(--text-color);
            }

            @media (max-width: 440px), (max-height: 440px) {
                height: 36px;
            }
        }

        &__chapter {
            cursor: default;
            color: var(--primary-color);
            pointer-events: none;
            padding-left: 0;
            margin: 0;
            font-size: 1rem;

            &:first-child {
                margin-top: 10px;

                @media (max-width: 440px), (max-height: 440px) {
                    margin: 0;
                }
            }
        }
    }
}
