:host {
    justify-content: initial;
}

.tests {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    max-width: 1400px;
    padding: 2rem;
    margin: 2rem auto 0;
    border: 1px solid var(--border);
    border-radius: 1rem;
    background-color: var(--mdc-filled-text-field-input-text-placeholder-color);

    @media (max-width: 1400px), (max-height: 992px) {
        background-color: var(--sidenav-mobile-background);
    }
}
