:host {
    display: inline-block;
    max-width: 200px;
    margin: 0 auto;
    transition: 0.3s;

    *:disabled {
        color: inherit;
        background-color: var(--primary-color);
        opacity: 0.5;
    }
}
