<mat-toolbar class="header">
    <a routerLink="/" class="header__logo" (click)="changeSidebarState(false)"> Helper </a>
    <span class="header__spacer"></span>
    <button class="header__updates" mat-button (click)="openUpdatesDialog()">
        <mat-icon [ngClass]="{ header__updates_active: hasUnreadNotifications }">{{
            hasUnreadNotifications ? "notifications" : "notifications_none"
        }}</mat-icon>
        <span>Обновления</span>
    </button>
    <button mat-button [matMenuTriggerFor]="chapterMenu">
        <mat-icon>arrow_drop_down</mat-icon>
        Разделы
    </button>
    <mat-menu #chapterMenu="matMenu" xPosition="after" class="header__menu">
        <button mat-menu-item [matMenuTriggerFor]="theory">{{ chapters[0].name }}</button>
        <button mat-menu-item [matMenuTriggerFor]="tasks">{{ chapters[1].name }}</button>
        <button mat-menu-item [matMenuTriggerFor]="course">{{ chapters[2].name }}</button>
        <button mat-menu-item [matMenuTriggerFor]="tests">{{ chapters[3].name }}</button>
        <button mat-menu-item [matMenuTriggerFor]="codeReviews">{{ chapters[4].name }}</button>
        <button mat-menu-item [matMenuTriggerFor]="others">{{ chapters[5].name }}</button>
    </mat-menu>
    <a class="header__link" mat-button routerLink="/settings">
        <mat-icon>settings</mat-icon>
        <span>Настройки</span>
    </a>
    <a class="header__link" mat-button href="https://github.com/Yuri-Simonov/Helper" target="_blank">
        <mat-icon>
            <svg class="svg" width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M10 0C4.477 0 0 4.477 0 10c0 4.42 2.87 8.17 6.84 9.5.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34-.46-1.16-1.11-1.47-1.11-1.47-.91-.62.07-.6.07-.6 1 .07 1.53 1.03 1.53 1.03.87 1.52 2.34 1.07 2.91.83.09-.65.35-1.09.63-1.34-2.22-.25-4.55-1.11-4.55-4.92 0-1.11.38-2 1.03-2.71-.1-.25-.45-1.29.1-2.64 0 0 .84-.27 2.75 1.02.79-.22 1.65-.33 2.5-.33.85 0 1.71.11 2.5.33 1.91-1.29 2.75-1.02 2.75-1.02.55 1.35.2 2.39.1 2.64.65.71 1.03 1.6 1.03 2.71 0 3.82-2.34 4.66-4.57 4.91.36.31.69.92.69 1.85V19c0 .27.16.59.67.5C17.14 18.16 20 14.42 20 10A10 10 0 0 0 10 0z"
                    fill-rule="evenodd"
                />
            </svg>
        </mat-icon>
        <span>GitHub</span>
    </a>
    <a class="header__link" mat-button href="https://t.me/yuri_simonov_helper" target="_blank">
        <mat-icon>
            <svg class="svg" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <path
                    d="M29.919 6.163l-4.225 19.925c-0.319 1.406-1.15 1.756-2.331 1.094l-6.438-4.744-3.106 2.988c-0.344 0.344-0.631 0.631-1.294 0.631l0.463-6.556 11.931-10.781c0.519-0.462-0.113-0.719-0.806-0.256l-14.75 9.288-6.35-1.988c-1.381-0.431-1.406-1.381 0.288-2.044l24.837-9.569c1.15-0.431 2.156 0.256 1.781 2.013z"
                />
            </svg>
        </mat-icon>
        <span>Telegram</span>
    </a>
    <button mat-button (click)="openSupportDialog()">
        <mat-icon>
            <svg
                class="svg"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="800px"
                height="800px"
                viewBox="0 0 467.6 467.6"
                xml:space="preserve"
            >
                <g>
                    <g>
                        <path
                            d="M209.3,219.916c4.3-3.7,10.4-6.1,18.4-6.7v45.899c-9.8-3.1-16.5-6.699-20.2-9.8c-3.7-3.7-5.5-8-5.5-14.1
			C202.6,229.116,205,224.216,209.3,219.916z M388.6,72.416c-8-29.4-31.199-40.4-58.1-33L93,103.016h303.6L388.6,72.416z
			 M467.6,178.916v204.4c0,26.3-20.8,47.101-47.1,47.101H47.1c-26.3,0-47.1-20.801-47.1-47.101v-204.4c0-26.3,20.8-47.1,47.1-47.1
			h373.3C446.2,131.815,467.6,153.216,467.6,178.916z M304.8,318.415c0-15.301-4.899-26.899-14.7-35.5
			c-9.8-8.601-24.5-14.699-44.699-19H244.8v-49.601c13.5,1.8,26.3,7.3,37.9,15.3l17.1-24.5c-17.1-11.6-35.5-18.4-55.1-19.6v-13.5
			h-17.1l0,0v12.9c-17.1,0.6-30.6,6.1-41.6,15.9c-10.4,9.8-15.9,22-15.9,37.3s4.9,26.9,14.1,34.3c9.2,8,23.9,14.102,43.5,19v51.4
			c-15.9-2.4-30.6-10.4-45.9-23.3l-19.6,23.3c19,16.5,41,26.3,64.9,28.8v19.602h17.1v-19c17.699-0.602,32.398-6.102,43.5-15.9
			C299.3,346.016,304.8,333.716,304.8,318.415z M244.8,295.815v47.7c8.601-0.601,15.3-3.101,20.2-7.3
			c4.899-4.301,7.3-9.2,7.3-15.301s-1.8-11-5.5-14.699C262.6,302.516,255.8,298.915,244.8,295.815z"
                        />
                    </g>
                </g>
            </svg>
        </mat-icon>
        <span>Поддержать проект</span>
    </button>
</mat-toolbar>

<mat-menu #theory="matMenu">
    <ng-container *ngTemplateOutlet="matMenuContent; context: { items: chapters, index: 0 }"></ng-container>
</mat-menu>

<mat-menu #tasks="matMenu">
    <ng-container *ngTemplateOutlet="matMenuContent; context: { items: chapters, index: 1 }"></ng-container>
</mat-menu>

<mat-menu #course="matMenu">
    <ng-container *ngTemplateOutlet="matMenuContent; context: { items: chapters, index: 2 }"></ng-container>
</mat-menu>

<mat-menu #tests="matMenu">
    <ng-container *ngTemplateOutlet="matMenuContent; context: { items: chapters, index: 3 }"></ng-container>
</mat-menu>

<mat-menu #codeReviews="matMenu">
    <ng-container *ngTemplateOutlet="matMenuContent; context: { items: chapters, index: 4 }"></ng-container>
</mat-menu>

<mat-menu #others="matMenu">
    <ng-container *ngTemplateOutlet="matMenuContent; context: { items: chapters, index: 5 }"></ng-container>
</mat-menu>

<ng-template #matMenuContent let-items="items" let-index="index">
    @for (item of items[index].links; track item.path) {
        @if (item.sideLink) {
            <a
                mat-menu-item
                [href]="item.path"
                (click)="changeSidebarState(false)"
                [ngClass]="{ disabled: items[index].links[$index].disabled }"
                target="_blank"
            >
                {{ item.name }}
            </a>
        } @else {
            <a
                mat-menu-item
                [routerLink]="[items[index].path, items[index].links[$index].path]"
                routerLinkActive="disabled"
                (click)="changeSidebarState(false)"
                [ngClass]="{ disabled: items[index].links[$index].disabled }"
                [target]="items[index].links[$index]?.targetBlank ? '_blank' : undefined"
            >
                {{ item.name }}
            </a>
        }
    }
</ng-template>
