:host {
    height: var(--header-height);

    .mat-toolbar {
        background: var(--primary-color);
        color: var(--text-color);
    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 4;
        box-shadow: var(--box-shadow);

        &__logo {
            font-size: inherit;
            font-family: inherit;
            font-weight: inherit;
            color: var(--text-color);
            text-decoration: none;

            transition: 0.3s;
            &:hover {
                opacity: 0.5;
            }

            @media (max-width: 768px) {
                min-width: auto;
            }

            @media (max-width: 768px) {
                mat-icon {
                    margin: 0;
                }
            }

            @media (max-width: 374px) {
                font-size: 16px;
            }
        }

        &__spacer {
            flex: 1 1 auto;
        }

        &.mat-toolbar-row,
        &.mat-toolbar-single-row {
            height: inherit;
        }

        &__link,
        button {
            color: inherit;

            @media (max-width: 824px), (max-height: 576px) {
                min-width: auto;

                &:last-child {
                    margin-right: -8px;
                }

                span {
                    display: none;
                }

                .mat-icon {
                    margin: 0;
                }
            }

            @media (max-width: 374px) {
                font-size: 12px;
            }
        }

        button {
            @media (max-width: 824px), (max-height: 576px) {
                .mat-icon {
                    margin-right: 2px;
                }
            }
        }

        &__updates {
            min-width: auto;

            mat-icon {
                &.header__updates_active {
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        width: 8px;
                        height: 8px;
                        top: 26%;
                        left: 74%;
                        transform: translate(-50%, -50%);
                        background-color: var(--primary-color);
                        filter: var(--hue-120-deg);
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    .mat-mdc-button {
        padding: 0 6px;

        & > .mat-icon {
            @media (max-width: 320px) {
                margin-right: 0px;
            }
        }
    }
}

::ng-deep body .mat-mdc-menu-panel {
    border: 2px solid var(--primary-color);
    max-width: 100%;
    background: linear-gradient(var(--middle-color-15), var(--middle-color-18)),
        var(--mdc-filled-text-field-input-text-placeholder-color);

    .mat-mdc-menu-content {
    }

    .mat-mdc-menu-item,
    .mat-mdc-menu-item:visited,
    .mat-mdc-menu-item:link {
        color: var(--text-color);

        transition: 0.3s;
        &:hover {
            color: var(--middle-color-20);
        }
    }

    .mat-mdc-menu-submenu-icon {
        color: inherit;
    }

    .mat-icon {
        color: inherit;
    }

    .active-theme {
        color: var(--middle-color-20);
    }
}
