:host {
    height: var(--header-height);

    .mat-toolbar {
        background: var(--primary-color);
        color: var(--text-color);
    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 4;
        box-shadow: var(--box-shadow);

        &__logo {
            font-size: inherit;
            font-family: inherit;
            font-weight: inherit;
            color: var(--text-color);
            text-decoration: none;

            transition: 0.3s;
            &:hover {
                opacity: 0.5;
            }

            @media (max-width: 768px) {
                min-width: auto;

                span {
                    display: none;
                }
            }

            @media (max-width: 768px) {
                mat-icon {
                    margin: 0;
                }
            }

            @media (max-width: 320px) {
                font-size: 16px;
            }
        }

        &__spacer {
            flex: 1 1 auto;
        }

        &.mat-toolbar-row,
        &.mat-toolbar-single-row {
            height: inherit;
        }

        &__link {
            @media (max-width: 440px), (max-height: 440px) {
                min-width: auto;

                &:last-child {
                    margin-right: -8px;
                }

                span {
                    display: none;
                }

                .mat-icon {
                    margin: 0;
                }
            }
        }
    }

    .mat-mdc-button {
        padding: 0 6px;

        & > .mat-icon {
            @media (max-width: 320px) {
                margin-right: 0px;
            }
        }
    }
}

::ng-deep body .mat-mdc-menu-panel {
    border-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    max-width: 100%;
    background: linear-gradient(var(--middle-color-15), var(--middle-color-18)),
        var(--mdc-filled-text-field-input-text-placeholder-color);

    .mat-mdc-menu-content {
    }

    .mat-mdc-menu-item,
    .mat-mdc-menu-item:visited,
    .mat-mdc-menu-item:link {
        color: var(--text-color);

        transition: 0.3s;
        &:hover {
            color: var(--primary-color);
        }
    }

    .mat-mdc-menu-submenu-icon {
        color: inherit;
    }

    .mat-icon {
        color: inherit;
    }

    .active-theme {
        color: var(--middle-color-20);
    }
}
