<mat-accordion>
    <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
    >
        <mat-expansion-panel-header>
            <mat-panel-title>
                Зачем нужны директивы в Angular?
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            Предназначение директив -
            <span class="attention">
                преобразование DOM-элементов нужным нам образом.
            </span>
        </p>
        <p>
            По своей реализации директивы практически идентичны компонентам,
            т.к.
            <span class="attention">
                компонент - это директива с HTML-шаблоном.
            </span>
        </p>
        <p>
            Директивы создаются с помощью декоратора
            <code>@Directive()</code> с конфигурационным объектом и
            подразделяются на 3 типа:
        </p>
        <ul>
            <li>
                <span class="attention">С собственным шаблоном</span> - это
                компоненты (компоненты являются директивами, см.выше);
            </li>
            <li>
                <span class="attention">Структурные</span> - изменяют структуру
                DOM-дерева (<code>*ngIf</code>, <code>*ngFor</code> и все
                другие, которые начинаются со "<code>*</code>");
            </li>
            <li>
                <span class="attention">Атрибуты</span> - изменяют внешний вид
                или поведение по умолчанию элемента DOM-дерева.
            </li>
        </ul>
    </mat-expansion-panel>
</mat-accordion>
