:host {
    flex-grow: 1;
    display: flex;
}

::ng-deep .spoilers {
    flex-grow: 1;
    position: relative;
    display: grid;
    grid-template-columns: 15rem 1fr;
    max-width: 100%;

    @media (max-width: 992px), (max-height: 440px) {
        grid-template-columns: 100%;
    }

    &_simple {
        grid-template-columns: 100%;
        grid-auto-rows: max-content;
    }

    &__items {
        width: 100%;
        max-width: 1424px;
        margin: 0 auto;
        padding: 16px 12px 12px;

        @media (max-width: 440px), (max-height: 440px) {
            padding: 10px 0 6px;
        }

        &_full {
            max-width: 100%;
        }

        h2 {
            font-size: 16px;
            line-height: 1.1;
            margin-bottom: 12px;
            padding-left: 24px;

            @media (max-width: 440px), (max-height: 440px) {
                font-size: 14px;
                padding-left: 12px;
            }

            &:not(:first-child) {
                padding-top: 12px;
            }

            &:first-child {
                @media (max-width: 440px), (max-height: 440px) {
                    margin-top: 6px;
                }
            }

            & .variable {
                color: var(--primary-color);
                filter: var(--hue-240-deg);
            }
        }

        & > app-spoiler + app-spoiler {
            margin-top: 12px;

            @media (max-width: 440px), (max-height: 440px) {
                margin-top: 6px;
            }
        }
    }
}
