<div class="spoilers" [ngClass]="{ spoilers_simple: withoutSidebarProps }">
    @if (!withoutSidebarProps) {
        <app-sidebar [list]="listProps" [ngClass]="{ hideOnMobile: !sidebarState }"></app-sidebar>
    }
    <div class="spoilers__items" [ngClass]="{ spoilers__items_full: currentPath === emptyPathProps }">
        @for (item of listProps; track item.path) {
            @if (item.path === currentPath) {
                @for (info of item.info; track info.title || info.chapter) {
                    @if (info.title) {
                        <app-spoiler [info]="info"></app-spoiler>
                    } @else {
                        <h2 [innerHTML]="info.chapter"></h2>
                    }
                }
            }
        }
        @if (currentPath === emptyPathProps) {
            <app-empty></app-empty>
        }
    </div>
</div>

@if (sidebarState) {
    <app-overlay (click)="changeSidebarState(!sidebarState)"></app-overlay>
}
