:host {
    position: relative;
    z-index: 3;
}

.title {
    display: flex;
    align-items: center;
    gap: 36px;
    padding: 16px;
    background-color: var(--primary-color);
    margin-bottom: 0;
    box-shadow: var(--box-shadow);

    &__burger {
        cursor: pointer;

        @media (min-width: 993px) and (min-height: 441px) {
            display: none;
        }
    }

    &__name {
        font-size: 20px;
        line-height: 1.3;

        @media (max-width: 992px) {
            font-size: 18px;
        }

        @media (max-width: 576px), (max-height: 440px) {
            font-size: 16px;
        }
    }
}
