@for (question of questionsAndAnswersProps; track parentIndex; let parentIndex = $index) {
    <article
        class="question-card"
        [ngClass]="{
            'question-card_active': parentIndex === questionIndexProps || modeProps === 'result',
            'question-card_result': modeProps === 'result',
            'question-card_right': modeProps === 'result' && userAnswersProps[parentIndex].right,
            'question-card_wrong': modeProps === 'result' && !userAnswersProps[parentIndex].right
        }"
    >
        <div
            class="question-card__description"
            highlight-js
            mode="default"
            [innerHTML]="question.question | pipeSanitizer"
        ></div>
        <mat-radio-group class="question-card__radio-group">
            @for (answer of question.answers; track childIndex; let childIndex = $index) {
                <mat-radio-button
                    class="question-card__radio-button"
                    [ngClass]="{
                        'question-card__radio-button_test': modeProps === 'test',
                        'question-card__radio-button_right': modeProps === 'result' && answer.right,
                        'question-card__radio-button_wrong':
                            modeProps === 'result' &&
                            userAnswersProps[parentIndex].text === answer.text &&
                            !userAnswersProps[parentIndex].right
                    }"
                    [value]="answer.text"
                    (change)="setNewCurrentValue(answer)"
                    [disabled]="modeProps === 'result'"
                    [checked]="userAnswersProps?.[parentIndex]?.text === answer.text"
                >
                    {{ answer.text }}
                </mat-radio-button>
            }
        </mat-radio-group>
    </article>
}
