<mat-accordion>
    <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
    >
        <mat-expansion-panel-header>
            <mat-panel-title>
                В чем разница между Observable и Subject?
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            Основное отличие этих двух типов объектов:
            <span class="attention">объекты </span> <code>Observable</code>
            <span class="attention">
                предназначены для одноадресной рассылки, а
            </span>
            <code>Subject</code>
            <span class="attention"> — для многоадресной рассылки.</span>
        </p>
        <p>
            Если рассмотреть более детально, то в потоковом программировании
            есть два основных интерфейса: <code>Observable</code> (наблюдаемый)
            и <code>Observer</code>
            (наблюдатель).
        </p>
        <p>
            <code>Observable</code> предназначен для потребителя, его можно
            преобразовать и подписаться:
        </p>
        <pre><code>observable$.<span class="method">pipe</span><span class="punctuation">(</span><span class="method">map</span><span class="punctuation">(</span>x <span class="operator">=></span> ...<span class="punctuation">)</span>, <span class="method">filter</span><span class="punctuation">(</span>x <span class="operator">=></span> ...<span class="punctuation">))</span>.<span class="method">subscribe</span><span class="punctuation">(</span>x <span class="operator">=></span> ...<span class="punctuation">)</span></code></pre>
        <p>
            <code>Observer</code> — это интерфейс, который используется для
            подачи наблюдаемого источника, будь то какие-то данные, ошибка или
            завершение наблюдения:
        </p>
        <pre><code>observer.<span class="method">next</span><span class="punctuation">(</span>newItem<span class="punctuation">)</span>
observer.<span class="method">error</span><span class="punctuation">(</span>error<span class="punctuation">)</span>
observer.<span class="method">complete</span><span class="punctuation">()</span></code></pre>
        <p>
            При этом мы можем создать новый <code>Observable</code> с помощью
            Observer:
        </p>
        <pre><code><span class="keyword">const</span> <span class="variable">newObs$</span> <span class="operator">=</span> <span class="keyword">new</span> <span class="class-name">Observable</span><span class="punctuation">((</span>observer<span class="punctuation">)</span> <span class="operator">=></span> <span class="punctuation">{{'{'}}</span>
	observer.<span class="function-name">next</span><span class="punctuation">(</span><span class="string">'тут передаем данные'</span><span class="punctuation">)</span>; <span class="comment">переданные данные попадут в data</span>
	observer.<span class="function-name">error</span><span class="punctuation">(</span><span class="string">'тут передаем ошибки'</span><span class="punctuation">)</span>; <span class="comment">переданные данные попадут в error</span>
	observer.<span class="function-name">complete()</span>; <span class="comment">// данный метод не принимает параметры</span>
<span class="punctuation">{{'}'}})</span>;

<span class="variable">newObs$</span>.<span class="function-name">subscribe</span><span class="punctuation">(</span>
	<span class="punctuation">(</span>data<span class="punctuation">)</span> <span class="operator">=></span> <span class="punctuation">{{'{'}}</span>
		console.<span class="function-name">log</span><span class="punctuation">(</span><span class="string">'тут обрабатываем данные'</span><span class="punctuation">)</span>
	<span class="punctuation">{{'}'}}</span>,
	<span class="punctuation">(</span>error<span class="punctuation">)</span> <span class="operator">=></span> <span class="punctuation">{{'{'}}</span>
		console.<span class="function-name">log</span><span class="punctuation">(</span><span class="string">'тут обрабатываем ошибки'</span><span class="punctuation">)</span>
	<span class="punctuation">{{'}'}}</span>,
	<span class="punctuation">()</span> <span class="operator">=></span> <span class="punctuation">{{'{'}}</span>
		console.<span class="function-name">log</span><span class="punctuation">(</span><span class="string">'тут обрабатываем завершение работы Observable'</span><span class="punctuation">)</span>
	<span class="punctuation">{{'}'}}</span>,
<span class="punctuation">)</span>;</code></pre>
        <p>
            Или мы можем использовать <code>Subject</code>, который реализует
            интерфейсы <code>Observable</code> и <code>Observer</code>:
        </p>
        <pre><code><span class="keyword">const</span> <span class="variable">subject</span> <span class="operator">=</span> <span class="keyword">new</span> <span class="class-name">Subject</span><span class="type">{{'<'}}{{'number>'}}</span><span class="punctuation">()</span>;

<span class="variable">subject</span>.<span class="method">subscribe</span><span class="punctuation">((</span>value<span class="punctuation">)</span> <span class="operator">=></span> console.<span class="method">log</span><span class="punctuation">(</span><span class="string">'Первая подписка:'</span>, value<span class="punctuation">))</span>;
<span class="variable">subject</span>.<span class="method">next</span><span class="punctuation">(</span><span class="number">3</span><span class="punctuation">)</span>;
<span class="variable">subject</span>.<span class="method">subscribe</span><span class="punctuation">((</span>value<span class="punctuation">)</span> <span class="operator">=></span> console.<span class="method">log</span><span class="punctuation">(</span><span class="string">'Вторая подписка:'</span>, value<span class="punctuation">))</span>;
<span class="variable">subject</span>.<span class="method">next</span><span class="punctuation">(</span><span class="number">9</span><span class="punctuation">)</span>;

<span class="comment">// в консоли мы увидем следующее:
Первая подписка: 3
Первая подписка: 9
Вторая подписка: 9
</span></code></pre>
    </mat-expansion-panel>
</mat-accordion>
