<div class="content__item">
    <app-prototype-in-js></app-prototype-in-js>
</div>
<div class="content__item">
    <app-prototype-chain></app-prototype-chain>
</div>
<div class="content__item">
    <app-own-method-or-property-in-prototype></app-own-method-or-property-in-prototype>
</div>
<div class="content__item">
    <app-prototype-chain-end></app-prototype-chain-end>
</div>
<div class="content__item">
    <app-object-prototype-of-another-object></app-object-prototype-of-another-object>
</div>
