<mat-accordion>
    <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
    >
        <mat-expansion-panel-header>
            <mat-panel-title
                >Как правильно передавать объект в декоратор "@Input()", чтобы
                дочерний компонент каждый раз видел изменения в этом
                объекте?</mat-panel-title
            >
        </mat-expansion-panel-header>
        <p>
            <span class="attention"
                >В JavaScript объекты передаются по ссылке</span
            >. Поэтому если сначала передать объект через декоратор
            <code>@Input()</code> в дочерний компонент, а потом поменять в этом
            объекте какое-то значение и попытаться внось передать тот же объект
            с измененным значением в дочерний компонент, то в дочернем
            компоненте вы не увидите никакой разницы.
        </p>
        <p>
            Чтобы решить данную проблему, необходимо каждый раз передавать в
            дочерний компонент новый объект. Ниже приведен один из вариантов
            решения через spread-оператор.
        </p>
        <pre><code><span class="object">this</span>.someObject <span class="operator">=</span> <span class="punctuation">{{'{'}}</span> <span class="operator">...</span><span class="object">this</span>.someObject, <span class="key">name</span>: <span class="string">'новое имя'</span> <span class="punctuation">{{'}'}}</span></code></pre>
    </mat-expansion-panel>
</mat-accordion>
