<mat-accordion>
    <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
    >
        <mat-expansion-panel-header>
            <mat-panel-title>
                Как из примитивного типа данных сделать Observable?
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            Для преобразования данных из примитов в тип <code>Observable</code>,
            в RxJs существуют специальные для этого операторы. Например,
            <code>of</code> и <code>from</code>.
        </p>
        <p>
            Оператор <code>of</code> подходит для случаев, когда необходимо из
            массива данных создать <code>Observable</code> и при подписке на
            источник события получать тот же массив целиком. При этом, оператор
            <code>of</code> создает поток с одним или несколькими элементами,
            который завершается сразу после их отправки.
        </p>
        <pre><code><span class="export">export</span> <span class="keyword">class</span> <span class="class-name">SomeComponent</span> <span class="punctuation">{{'{'}}</span>
    numbers$: <span class="class-name">Observable</span><span class="type">{{'<'}}{{'number[]>'}}</span> <span class="operator">=</span> <span class="function-name">of</span><span class="punctuation">(</span><span class="array">[1, 2, 3]</span><span class="punctuation">)</span>; <span class="comment">// (*)</span>

    <span class="function-name">ngOnInit()</span> <span class="punctuation">{{'{'}}</span>
        <span class="object">this</span>.numbers$.<span class="function-name">subscribe</span><span class="punctuation">((</span>data: <span class="type">number[]</span><span class="punctuation">)</span> <span class="punctuation"><span class="operator">=></span></span> <span class="punctuation">{{'{'}}</span>
            console.<span class="function-name">log</span>(data); <span class="comment">// [1, 2, 3]</span>
        <span class="punctuation">{{'}'}})</span>;
    <span class="punctuation">{{'}'}}</span>
<span class="punctuation">{{'}'}}</span></code></pre>
        <p>Строка под "<code>*</code>" равносильна следующей записи:</p>
        <pre><code>numbers$: <span class="class-name">Observable</span><span class="type">{{'<'}}{{'number[]>'}}</span> <span class="operator">=</span> <span class="keyword">new</span> <span class="class-name">Observable</span><span class="punctuation">((</span>observer<span class="punctuation">)</span> <span class="operator">=></span> <span class="punctuation">{{'{'}}</span>
	observer.<span class="function-name">next</span><span class="punctuation">(</span><span class="array">[1, 2, 3]</span><span class="punctuation">)</span>;
<span class="punctuation">{{'}'}})</span>;</code></pre>
        <p>
            Если необходимо, чтобы обработчик вместо всего массива сразу получал
            каждый его элемент в отдельности, тогда используется оператор
            <code>from</code>.
        </p>
        <pre><code><span class="export">export</span> <span class="keyword">class</span> <span class="class-name">SomeComponent</span> <span class="punctuation">{{'{'}}</span>
    numbers$: <span class="class-name">Observable</span><span class="type">{{'<'}}{{'number>'}}</span> <span class="operator">=</span> <span class="function-name">from</span><span class="punctuation">(</span><span class="array">[1, 2, 3]</span><span class="punctuation">)</span>;

    <span class="function-name">ngOnInit()</span> <span class="punctuation">{{'{'}}</span>
        <span class="object">this</span>.numbers$.<span class="function-name">subscribe</span><span class="punctuation">((</span>data: <span class="type">number</span><span class="punctuation">)</span> <span class="punctuation"><span class="operator">=></span></span> <span class="punctuation">{{'{'}}</span>
            console.<span class="function-name">log</span>(data); <span class="comment">// 1, 2, 3</span>
        <span class="punctuation">{{'}'}})</span>;
    <span class="punctuation">{{'}'}}</span>
<span class="punctuation">{{'}'}}</span></code></pre>
    </mat-expansion-panel>
</mat-accordion>
