@import "src/styles/variable";

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;

    &__logo {
        color: $white;
        text-decoration: none;
    }

    &__spacer {
        flex: 1 1 auto;
    }

    & > a {
        @media (max-width: 768px) {
            min-width: auto;

            span {
                display: none;
            }
        }

        @media (max-width: 768px) {
            mat-icon {
                margin: 0;
            }
        }
    }
}
