:host {
    height: var(--header-height);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    box-shadow: var(--box-shadow);

    &__logo {
        color: var(--white);
        text-decoration: none;
    }

    &__spacer {
        flex: 1 1 auto;
    }

    & > a {
        @media (max-width: 768px) {
            min-width: auto;

            span {
                display: none;
            }
        }

        @media (max-width: 768px) {
            mat-icon {
                margin: 0;
            }
        }
    }
}
