<mat-accordion>
    <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
    >
        <mat-expansion-panel-header>
            <mat-panel-title>
                Какая разница между "pure" и "impure" пайпами (pipe / фильтр)?
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            <code>Pure</code> и <code>impure</code> пайпы
            <span class="attention"
                >отличаются по принципу работы механизма отслеживания
                изменений.</span
            >
        </p>
        <p>
            Первый тип используется по умолчанию и в конфигурационном объекте
            декоратора <code>@Pipe()</code> обычно не указывается.
        </p>
        <pre><code><span class="keyword">@Pipe</span><span class="punctuation">{{'({'}}</span>
	<span class="key">name</span><span class="punctuation">: '</span><span class="string">customPipe</span><span class="punctuation">'</span>,
	<span class="key">pure</span><span class="punctuation">: </span><span class="boolean">true</span> <span class="comment">// значение по умолчанию, его можно не указывать явно в объекте</span>
<span class="punctuation">{{"})"}}</span></code></pre>
        <p>
            Для пайпов типа <code>pure</code> обновление значения происходит
            только при его прямом изменении или смены ссылки, если речь идет о
            массивах и объектах.
        </p>
        <p>
            Для пайпов типа <code>impure</code> значение будет обновляться при
            любом изменении данных, а также при любом событии, произошедшем в
            приложении, будь то клик мыши, клавиатуры и тд. Но в данном случае в
            конфигурационном объекте уже явно необходимо это указать:
        </p>
        <pre><code><span class="keyword">@Pipe</span><span class="punctuation">{{'({'}}</span>
	<span class="key">name</span><span class="punctuation">: '</span><span class="string">customPipe</span><span class="punctuation">'</span>,
	<span class="key">pure</span><span class="punctuation">: </span><span class="boolean">false</span> <span class="comment">// теперь пайп impure</span>
<span class="punctuation">{{"})"}}</span></code></pre>
        <p>
            Второй тип следует использовать в исключительных случаях, т.к.
            частое обновление значения пайпы требует больших ресурсов.
        </p>
    </mat-expansion-panel>
</mat-accordion>
