<mat-accordion>
    <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
    >
        <mat-expansion-panel-header>
            <mat-panel-title>
                Какие вы знаете разновидности объекта Subject и в чем их
                отличия?
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>В RxJS имеется несколько разновидностей <code>Subject</code>:</p>
        <ul>
            <li><span class="attention">BehaviorSubject</span></li>
            <li><span class="attention">ReplaySubject</span></li>
            <li><span class="attention">AsyncSubject</span></li>
        </ul>
        <i class="subtitle">Subject</i>
        <p>
            RxJS <code>Subject</code> является разновидностью объектов
            <code>Observable</code>. Особенность <code>Subject</code> в том, что
            он может отправлять данные одновременно множеству "потребителей",
            которые могут регистрироваться уже в процессе исполнения
            <code>Subject</code>, в то время как исполнение стандартного
            <code>Observable</code> осуществляется уникально для каждого его
            вызова.
        </p>
        <pre><code><span class="keyword">const</span> <span class="variable">subject$</span> <span class="operator">=</span> <span class="keyword">new</span> <span class="class-name">Subject</span><span class="type">{{'<'}}{{'number>'}}</span><span class="punctuation">()</span>;

<span class="variable">subject$</span>.<span class="method">subscribe</span><span class="punctuation">((</span>value<span class="punctuation">)</span> <span class="operator">=></span> console.<span class="method">log</span><span class="punctuation">(</span><span class="string">'Первая подписка:'</span>, value<span class="punctuation">))</span>;
<span class="variable">subject$</span>.<span class="method">next</span><span class="punctuation">(</span><span class="number">3</span><span class="punctuation">)</span>;
<span class="variable">subject$</span>.<span class="method">subscribe</span><span class="punctuation">((</span>value<span class="punctuation">)</span> <span class="operator">=></span> console.<span class="method">log</span><span class="punctuation">(</span><span class="string">'Вторая подписка:'</span>, value<span class="punctuation">))</span>;
<span class="variable">subject$</span>.<span class="method">next</span><span class="punctuation">(</span><span class="number">9</span><span class="punctuation">)</span>;

<span class="comment">// в консоли мы увидем следующее:
Первая подписка: 3
Первая подписка: 9
Вторая подписка: 9
</span></code></pre>
        <i class="subtitle">BehaviorSubject</i>
        <p>
            <code>BehaviorSubject</code> —
            <span class="attention">
                передает новому подписчику последнее значение и в качестве
                аргумента принимает начальное значение </span
            >.
        </p>
        <pre><code><span class="keyword">const</span> <span class="variable">behaviorSubject$</span> <span class="operator">=</span> <span class="keyword">new</span> <span class="class-name">BehaviorSubject</span><span class="type">{{'<'}}{{'number>'}}</span><span class="punctuation">(</span><span class="number">5</span><span class="punctuation">)</span>;

<span class="variable">behaviorSubject$</span>.<span class="method">subscribe</span><span class="punctuation">((</span>value<span class="punctuation">)</span> <span class="operator">=></span> console.<span class="method">log</span><span class="punctuation">(</span><span class="string">'Первая подписка:'</span>, value<span class="punctuation">))</span>;
<span class="variable">behaviorSubject$</span>.<span class="method">subscribe</span><span class="punctuation">((</span>value<span class="punctuation">)</span> <span class="operator">=></span> console.<span class="method">log</span><span class="punctuation">(</span><span class="string">'Вторая подписка:'</span>, value<span class="punctuation">))</span>;
<span class="variable">behaviorSubject$</span>.<span class="method">next</span><span class="punctuation">(</span><span class="number">9</span><span class="punctuation">)</span>;

<span class="comment">// в консоли мы увидем следующее:
Первая подписка: 5
Вторая подписка: 5
Первая подписка: 9
Вторая подписка: 9
</span></code></pre>
        <i class="subtitle">ReplaySubject</i>
        <p>
            <code>ReplaySubject</code> —
            <span class="attention">
                передает новому подписчику все предыдущие значения, принимаемый
                параметр — количество предыдущих значений </span
            >.
        </p>
        <pre><code><span class="keyword">const</span> <span class="variable">replaySubject$</span> <span class="operator">=</span> <span class="keyword">new</span> <span class="class-name">ReplaySubject</span><span class="type">{{'<'}}{{'number>'}}</span><span class="punctuation">(</span><span class="number">2</span><span class="punctuation">)</span>;

<span class="variable">replaySubject$</span>.<span class="method">next</span><span class="punctuation">(</span><span class="number">3</span><span class="punctuation">)</span>;
<span class="variable">replaySubject$</span>.<span class="method">next</span><span class="punctuation">(</span><span class="number">6</span><span class="punctuation">)</span>;
<span class="variable">replaySubject$</span>.<span class="method">next</span><span class="punctuation">(</span><span class="number">9</span><span class="punctuation">)</span>;

<span class="variable">replaySubject$</span>.<span class="method">subscribe</span><span class="punctuation">((</span>value<span class="punctuation">)</span> <span class="operator">=></span> console.<span class="method">log</span><span class="punctuation">(</span><span class="string">'Результат: '</span>, value<span class="punctuation">))</span>;

<span class="comment">// в консоли мы увидем следующее:
Результат: 6
Результат: 9
</span></code></pre>
        <i class="subtitle">AsyncSubject</i>
        <p>
            <code>AsyncSubject</code> —
            <span class="attention">
                передает новому подписчику последнее значение, но только после
                того, как будет вызван метод
            </span>
            <code>complete</code>.
        </p>
        <pre><code><span class="keyword">const</span> <span class="variable">asyncSubject$</span> <span class="operator">=</span> <span class="keyword">new</span> <span class="class-name">AsyncSubject</span><span class="type">{{'<'}}{{'number>'}}</span><span class="punctuation">()</span>;

<span class="variable">asyncSubject$</span>.<span class="method">subscribe</span><span class="punctuation">((</span>value<span class="punctuation">)</span> <span class="operator">=></span> console.<span class="method">log</span><span class="punctuation">(</span><span class="string">'Результат: '</span>, value<span class="punctuation">))</span>;

<span class="variable">asyncSubject$</span>.<span class="method">next</span><span class="punctuation">(</span><span class="number">3</span><span class="punctuation">)</span>;
<span class="variable">asyncSubject$</span>.<span class="method">next</span><span class="punctuation">(</span><span class="number">6</span><span class="punctuation">)</span>;
<span class="variable">asyncSubject$</span>.<span class="method">next</span><span class="punctuation">(</span><span class="number">9</span><span class="punctuation">)</span>;

<span class="variable">asyncSubject$</span>.<span class="method">complete</span><span class="punctuation">()</span>;

<span class="comment">// в консоли мы увидем следующее:
Результат: 9
</span></code></pre>
    </mat-expansion-panel>
</mat-accordion>
