<mat-accordion>
    <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
    >
        <mat-expansion-panel-header>
            <mat-panel-title>
                Как создать пользовательский пайп (pipe / фильтр)?
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            <span class="attention">Angular pipe</span> - это класс, который
            предваряется декоратором <code>@Pipe()</code> и реализует интерфейс
            <code>PipeTransform</code> с одним единственным методом
            <code>transform()</code>.
        </p>
        <p>
            Пример пайпы, в которой текст, имеющий длину больше 200 символов,
            обрезается и ему в конец добавляется "...":
        </p>
        <pre><code><span class="keyword">@Pipe</span><span class="punctuation">{{'({'}}</span> <span class="key">name</span><span class="punctuation">: '</span><span class="string">customPipe</span><span class="punctuation">{{"' })"}}</span>
<span class="export">export</span> <span class="keyword">class</span> <span class="class-name">CustomPipePipe</span> <span class="keyword">implements</span> <span class="class-name">PipeTransform</span> <span class="punctuation">{{'{'}}</span>
    transform<span class="punctuation">(</span>value: <span class="type">string</span>, maxLength: <span class="type">number</span> <span class="operator">=</span> <span class="number">200</span><span class="punctuation">):</span> <span class="type">string</span> <span class="punctuation">{{'{'}}</span>
        <span class="keyword">if</span> <span class="punctuation">(</span>value.<span class="property">length</span> <span class="operator">></span> maxLength<span class="punctuation">)</span>
            <span class="return">return</span> <span class="punctuation">{{'`${'}}</span>value.<span class="method">substring</span><span class="punctuation">{{'('}}</span>0, maxLength<span class="punctuation">{{')}'}}</span><span class="string">...</span><span class="punctuation">`</span>;
        <span class="keyword">else</span> <span class="return">return</span> value;
    <span class="punctuation">{{'}'}}</span>
<span class="punctuation">{{'}'}}</span></code></pre>
        <p>
            У декоратора <code>@Pipe()</code> существует конфигурационный
            объект, в котором свойство <code>name</code> является обязательным.
            Значением данного свойства будет имя текущего пользовательского
            пайпа, по которому он будет вызываться в HTML-шаблоне или в
            компоненте.
        </p>
        <p>Пример использования в HTML-шаблоне:</p>
        <pre><code><span class="comment">// компонент</span>
<span>someString</span><span>:</span> <span class="type">string</span> <span class="operator">=</span> <span class="string">'какая-то строка на 1000 символов'</span>
	<span></span>
<span class="comment">// шаблон</span>
<span class="tag"><</span><span class="tag">p</span><span class="tag">></span><span class="punctuation">{{'{'}}</span><span class="punctuation">{{'{'}}</span> <span class="variable">someString</span> <span class="operator">|</span> <span class="pipe-name">customPipe</span> <span class="punctuation">{{'}}'}}</span><span class="tag"><</span><span class="tag">/p></span> <span class="comment">// текст обрежется до 200 символов и добавится в конец "..."</span></code></pre>
        <p>
            При данном способе использования пайп необходимо задекларировать в
            модуле в поле <code>declarations</code>.
        </p>
        <p>Пример использования в компоненте:</p>
        <pre><code><span class="comment">// компонент</span>
<span class="export">export</span> <span class="keyword">class</span> <span class="class-name">CustomPipeComponent</span> <span class="keyword">implements</span> <span class="interface-name">OnInit</span> <span class="punctuation">{{'{'}}</span>
    text: <span class="type">string</span> <span class="operator">=</span> <span class="string">'какая-то строка на 1000 символов'</span>;

    <span class="keyword">constructor</span><span class="punctuation">(</span><span class="keyword">private</span> customPipe: <span class="class-name">CustomPipePipe</span><span class="punctuation">)</span> <span class="punctuation">{{'{'}}</span><span class="punctuation">{{'}'}}</span>

    <span class="function-name">ngOnInit</span><span class="punctuation">()</span> <span class="punctuation">{{'{'}}</span>
        console.<span class="function-name">log</span><span class="punctuation">(</span><span class="string">'перед customPipe'</span>, <span class="object">this</span>.text.<span class="property">length</span><span class="punctuation">)</span>; <span class="comment">// 1000</span>
        <span class="object">this</span>.text <span class="operator">=</span> <span class="object">this</span>.customPipe.transform<span class="punctuation">(</span><span class="object">this</span>.text<span class="punctuation">)</span>;
        console.<span class="function-name">log</span><span class="punctuation">(</span><span class="string">'после customPipe'</span>, <span class="object">this</span>.text.<span class="property">length</span><span class="punctuation">)</span>; <span class="comment">// 203</span>
    <span class="punctuation">{{'}'}}</span>
<span class="punctuation">{{'}'}}</span></code></pre>
        <p>
            При данном способе использования пайп необходимо задекларировать в
            модуле в поле <code>providers</code>.
        </p>
    </mat-expansion-panel>
</mat-accordion>
