<mat-accordion>
    <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
    >
        <mat-expansion-panel-header>
            <mat-panel-title>
                Почему внутри функций мы имеем доступ к глобальным переменным?
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            Когда код хочет получить доступ к переменной,
            <span class="attention">
                сначала происходит поиск во внутреннем лексическом окружении,
                затем во внешнем</span
            >, затем в следующем и так далее,
            <span class="attention">пока не дойдет до глобального</span>.
        </p>
    </mat-expansion-panel>
</mat-accordion>
