<h2 mat-dialog-title>Поддержка проекта</h2>
<mat-dialog-content
    >Привет, я рад, что вы решили сюда заглянуть!
    <br />
    Надеюсь, что вам нравится данный проект и он помогает вам в учебе, работе или как-либо еще.
    <br />
    Создание текущего проекта с нуля и его развитие требует много времени и усилий. И если мои труды помогли вам, вы
    можете поддержать меня материально. Это поможет мне и дальше продолжать развивать данный проект.
    <br />
    <br />
    Поддержать меня можно переводом на банковскую карту:
    <ul>
        <li>
            Карта Сбербанка:
            <span class="card-number" (click)="copyCardNumber('2202201989645979')">2202201989645979</span> (Юрий С.).
            Для копирования номера достаточно кликнуть по нему.
        </li>
    </ul>
    <br />
    Если нет возможности поблагодарить меня способом выше, вы всегда можете оставить слова благодарности в
    <a href="https://t.me/yuri_simonov_helper" target="_blank" rel="noopener noreferrer">телеграм-канале</a> данного
    проекта.
    <br />
    <br />
    С уважением, Юрий Симонов.
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Закрыть</button>
</mat-dialog-actions>
