<mat-accordion>
    <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
    >
        <mat-expansion-panel-header>
            <mat-panel-title>
                Что такое "RxJs" и зачем это в Angular?
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            <span class="attention">RxJS</span> — это библиотека, реализующая
            принципы реактивного программирования для JavaScript. Основанная на
            объектах типа <code>Observable</code>, она упрощает написание и
            контроль асинхронного и событийного кода.
        </p>
    </mat-expansion-panel>
</mat-accordion>
