<mat-accordion>
    <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
    >
        <mat-expansion-panel-header>
            <mat-panel-title>
                В чем разница между Observable и Promise?
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            <code>Observable</code> - это
            <span class="attention">конструктор источника событий</span>, а
            <code>Promise</code> - это сам
            <span class="attention">источник событий</span>
        </p>
        <p>
            Чтобы в <code>Observable</code> появилось событие, на него кто-то
            должен подписаться.
            <span class="attention">Без подписки это просто набор методов</span
            >. С промисами же иная ситуация. Если интерпретатор кода доходит до
            промиса, то он выполняется и ему не нужны никакие подписчики.
        </p>
        <p>
            Еще одно отличие заключается в том, что у промисов, когда мы
            используем цепочки <code>then</code>, то мы работаем все с тем же
            промисом. В то время, как у <code>Observable</code> мы подписываемся
            каждый раз на новое событие.
        </p>
    </mat-expansion-panel>
</mat-accordion>
