<app-title title="Angular"></app-title>
<div class="content__item">
    <mat-accordion>
        <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
        >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Разница между директивой и компонентом в Angular?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                <i>В разработке...</i>
            </p>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<div class="content__item">
    <mat-accordion>
        <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
        >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Где нужно импортировать сервисы в Angular?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                <i>В разработке...</i>
            </p>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<div class="content__item">
    <mat-accordion>
        <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
        >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Что такое "Renderer 2" и зачем он в Angular?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                <i>В разработке...</i>
            </p>
        </mat-expansion-panel>
    </mat-accordion>
</div>
