@use "@angular/material" as mat;
@include mat.core();

$red-theme: mat.define-light-theme(
    (
        color: (
            primary: mat.define-palette(mat.$red-palette),
            accent: mat.define-palette(mat.$blue-palette),
        ),
    )
);
$pink-theme: mat.define-light-theme(
    (
        color: (
            primary: mat.define-palette(mat.$pink-palette),
            accent: mat.define-palette(mat.$blue-palette),
        ),
    )
);
$purple-theme: mat.define-light-theme(
    (
        color: (
            primary: mat.define-palette(mat.$purple-palette),
            accent: mat.define-palette(mat.$blue-palette),
        ),
    )
);
$deep-purple-theme: mat.define-light-theme(
    (
        color: (
            primary: mat.define-palette(mat.$deep-purple-palette),
            accent: mat.define-palette(mat.$blue-palette),
        ),
    )
);
$indigo-theme: mat.define-light-theme(
    (
        color: (
            primary: mat.define-palette(mat.$indigo-palette),
            accent: mat.define-palette(mat.$blue-palette),
        ),
    )
);
$blue-theme: mat.define-light-theme(
    (
        color: (
            primary: mat.define-palette(mat.$blue-palette),
            accent: mat.define-palette(mat.$blue-palette),
        ),
    )
);
$teal-theme: mat.define-light-theme(
    (
        color: (
            primary: mat.define-palette(mat.$teal-palette),
            accent: mat.define-palette(mat.$orange-palette),
        ),
    )
);
$brown-theme: mat.define-light-theme(
    (
        color: (
            primary: mat.define-palette(mat.$brown-palette),
            accent: mat.define-palette(mat.$blue-palette),
        ),
    )
);
$blue-gray-theme: mat.define-light-theme(
    (
        color: (
            primary: mat.define-palette(mat.$blue-gray-palette),
            accent: mat.define-palette(mat.$blue-palette),
        ),
    )
);

@mixin theme-light-colors($theme) {
    $_primary: map-get($theme, primary);

    --primary-color: #{mat.get-color-from-palette($_primary)};
    --secondary-color: #{mat.get-color-from-palette($_primary, "A100-contrast")};
    --text-color: #{mat.get-color-from-palette($_primary, "500-contrast")};
    --white-text: white;
    // --01-text: #{mat.get-color-from-palette($_primary, "A50-contrast")};
    // --02-text: #{mat.get-color-from-palette($_primary, "A100-contrast")};
    // --03-text: #{mat.get-color-from-palette($_primary, "A200-contrast")};
    // --04-text: #{mat.get-color-from-palette($_primary, "A300-contrast")};
    // --05-text: #{mat.get-color-from-palette($_primary, "A400-contrast")};
    // --06-text: #{mat.get-color-from-palette($_primary, "A500-contrast")};
    // --07-text: #{mat.get-color-from-palette($_primary, "A600-contrast")};
    // --08-text: #{mat.get-color-from-palette($_primary, "A700-contrast")};
    // --09-text: #{mat.get-color-from-palette($_primary, "A800-contrast")};
    // --09-text: #{mat.get-color-from-palette($_primary, "A900-contrast")};
    // --11-text: #{mat.get-color-from-palette($_primary, 50)};
    // --12-text: #{mat.get-color-from-palette($_primary, 100)};
    // --13-text: #{mat.get-color-from-palette($_primary, 200)};
    // --14-text: #{mat.get-color-from-palette($_primary, 300)};
    // --15-text: #{mat.get-color-from-palette($_primary, 400)};
    // --16-text: #{mat.get-color-from-palette($_primary, 500)};
    // --17-text: #{mat.get-color-from-palette($_primary, 600)};
    // --18-text: #{mat.get-color-from-palette($_primary, 700)};
    // --19-text: #{mat.get-color-from-palette($_primary, 800)};
    // --19-text: #{mat.get-color-from-palette($_primary, 900)};
    // --21-text: #{mat.get-color-from-palette($_primary, "50-contrast")};
    // --22-text: #{mat.get-color-from-palette($_primary, "100-contrast")};
    // --23-text: #{mat.get-color-from-palette($_primary, "200-contrast")};
    // --24-text: #{mat.get-color-from-palette($_primary, "300-contrast")};
    // --25-text: #{mat.get-color-from-palette($_primary, "400-contrast")};
    // --26-text: #{mat.get-color-from-palette($_primary, "500-contrast")};
    // --27-text: #{mat.get-color-from-palette($_primary, "600-contrast")};
    // --28-text: #{mat.get-color-from-palette($_primary, "700-contrast")};
    // --29-text: #{mat.get-color-from-palette($_primary, "800-contrast")};
    // --29-text: #{mat.get-color-from-palette($_primary, "900-contrast")};

    @include mat.all-component-colors($theme);
}

.red-theme {
    @include theme-light-colors($red-theme);
}
.pink-theme {
    @include theme-light-colors($pink-theme);
}
.purple-theme {
    @include theme-light-colors($purple-theme);
}
.deep-purple-theme {
    @include theme-light-colors($deep-purple-theme);
}
.indigo-theme {
    @include theme-light-colors($indigo-theme);
}
.blue-theme {
    @include theme-light-colors($blue-theme);
}
.teal-theme {
    @include theme-light-colors($teal-theme);
}
.brown-theme {
    @include theme-light-colors($brown-theme);
}
.blue-gray-theme {
    @include theme-light-colors($blue-gray-theme);
}
