@use "@angular/material" as mat;
@include mat.core();

$pink-black-theme: mat.define-light-theme(
    (
        color: (
            primary: mat.define-palette(mat.$pink-palette),
            accent: mat.define-palette(mat.$blue-palette),
            warn: mat.define-palette(mat.$red-palette),
        ),
    )
);
$orange-black-theme: mat.define-light-theme(
    (
        color: (
            primary: mat.define-palette(mat.$orange-palette),
            accent: mat.define-palette(mat.$blue-palette),
            warn: mat.define-palette(mat.$red-palette),
        ),
    )
);
$teal-black-theme: mat.define-light-theme(
    (
        color: (
            primary: mat.define-palette(mat.$teal-palette),
            accent: mat.define-palette(mat.$orange-palette),
            warn: mat.define-palette(mat.$red-palette),
        ),
    )
);

@mixin theme-light-colors($theme) {
    $_primary: map-get($theme, primary);

    --primary-color: #{mat.get-color-from-palette($_primary)};
    --secondary-color: #{mat.get-color-from-palette($_primary, "A100-contrast")};
    --text-color: #{mat.get-color-from-palette($_primary, 50)};
    --text-contrast-color: #{mat.get-color-from-palette($_primary, "50-contrast")};

    @include mat.all-component-colors($theme);
}

.pink-black-theme {
    @include theme-light-colors($pink-black-theme);
}
.orange-black-theme {
    @include theme-light-colors($orange-black-theme);
}
.teal-black-theme {
    @include theme-light-colors($teal-black-theme);
}
