.lock {
    overflow: hidden;
}

.sidebar-lock {
    @media (max-width: 992px), (max-height: 440px) {
        overflow: hidden;
    }
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.subtitle {
    font-size: 14px;
    line-height: 1.3;
    font-weight: 500;
    color: var(--orange);
    margin: 12px 0;
    display: block;
    font-style: normal;
}

.main-color {
    color: var(--primary);
}

.secondary-color {
    color: var(--secondary);
}

.attention {
    color: var(--yellow);

    code {
        color: var(--purple-light);
        display: inline-block;
        padding: 0 2px;
    }
}

.large-img {
    max-height: 50vh;
    width: 100%;
}
