p + pre,
i + pre {
    margin-top: 0;
}

pre {
    display: inline-flex;
    align-items: center;
    max-width: calc(100vw - 241px - 48px);
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 4px;

    @media (max-width: 992px) {
        max-width: calc(100vw - 48px);
    }

    @media (max-width: 440px), (max-height: 440px) {
        display: flex;
        max-width: calc(100vw);
        margin: 0 -12px 1em;
    }
}

code {
    padding: 16px;

    @media (max-width: 440px), (max-height: 440px) {
        padding: 12px;
    }
}

p > code,
li > code {
    display: inline-block;
    padding: 0 2px;
}

.comment {
    margin-left: 12px;

    &_start {
        margin-left: 0;
    }
}
