pre {
    background-color: var(--black);
    color: var(--white-dark);

    code {
        color: inherit;
    }
}

code {
    color: var(--purple-light);
    tab-size: 4;

    @media (max-width: 440px), (max-height: 440px) {
        tab-size: 2;
    }
}

.number,
.string,
.array {
    color: var(--orange);
}

.punctuation,
.function-name,
.pipe-name,
.method,
.property {
    color: var(--yellow);
}

.keyword {
    color: var(--green);
}

.object {
    color: var(--pink);
}

.comment {
    color: var(--teal);
}

.operator,
.class-name,
.interface-name,
.service-name,
.module-name {
    color: var(--red);
}

.key {
    color: var(--white-dark);
}

.type,
.boolean,
.null,
.undefined {
    color: var(--teal-light);
}

.export,
.import,
.tag,
.return {
    color: var(--purple);
}

.variable,
.attribute,
.directive {
    color: var(--purple-light);
}

.reset {
    color: var(--red);
    text-decoration: line-through;
}
