* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}
body {
    color: var(--white);
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body > app-root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

img,
svg {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
}

* {
    // стилизация скролла для Firefox
    scrollbar-color: var(--primary) var(--secondary); /* «цвет ползунка» и «цвет полосы скроллбара» */
    scrollbar-width: thin;
    // стилизация скролла для Chrome
    &::-webkit-scrollbar {
        // это фон самого скроллбара
        background-color: var(--secondary);
        width: 6px;
        height: 6px;
    }
    &::-webkit-scrollbar-thumb {
        // индикатор прокрутки, перетаскиваемый элемент.
        background-color: var(--primary);
        border-radius: 6px;
    }
}
