* {
    box-sizing: border-box;

    // стилизация скролла для Firefox
    scrollbar-color: var(--primary-color) var(--mdc-filled-text-field-input-text-placeholder-color); /* «цвет ползунка» и «цвет полосы скроллбара» */
    scrollbar-width: thin;
    // стилизация скролла для Chrome
    &::-webkit-scrollbar {
        // это фон самого скроллбара
        background-color: var(--mdc-filled-text-field-input-text-placeholder-color);
        width: 6px;
        height: 6px;
    }
    &::-webkit-scrollbar-thumb {
        // индикатор прокрутки, перетаскиваемый элемент.
        background-color: var(--primary-color);
        border-radius: 6px;
    }
}

html {
    background-color: var(--primary-color);
    height: 100%;
}

body {
    color: var(--text-color);
    /**
	* Задание изображения заднего фона вынесено в сервис BackgroundToggleService (background-toggle.service.ts).
	* Здесь стили закомментированы с целью избежания сайд-эффектов
	*/
    // background-image: url("../assets/img/common/default-background.png"),
    //     linear-gradient(var(--primary-color), var(--secondary-color));
    background-size: cover;
    background-blend-mode: luminosity;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    display: flex;
    min-height: 100vh;
}

body > app-root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex-grow: 1;
}

img,
svg.svg {
    max-width: 100%;
    max-height: 20vh;
    height: auto;
    object-fit: contain;
    object-position: center;
    margin-bottom: 8px;
}
