:root {
    // Цвета для примеров с кодом
    --white: #ffffff;
    --white-dark: #f5fffa;
    --black: #00000069;
    --yellow: #fbec5d;
    --orange: #ffd0a9;
    --red: #f53d68;
    --green: #50c878;
    --pink: #da70d6;
    --teal: #168081;
    --teal-light: #5ec4cd;
    --teal-dark: #001314;
    --purple: #9391ff;
    --purple-light: #d7a4ff;
    --blue: #0579ff;

    --test-green: #25ff25;
    --test-red: #ff1919;

    // Различные повторяющиеся вспомогательные цвета
    --overlay: #80808057;
    --hue-120-deg: hue-rotate(120deg) brightness(2) saturate(3.5);
    --hue-minus-120-deg: hue-rotate(-120deg) saturate(2) brightness(0.65);
    --hue-240-deg: hue-rotate(240deg) brightness(2.5) saturate(3);

    // CSS-свойства целиком;
    --border: 1px solid #d3d3d33a;
    --box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;

    // Размеры основных элементов
    --header-height: 64px;
    --footer-height: 64px;
    --title-height: 58px;

    @media (max-width: 992px), (max-height: 440px) {
        --title-height: 56px;
    }
    @media (max-width: 768px), (max-height: 440px) {
        --footer-height: 40px;
    }
    @media (max-width: 600px), (max-height: 440px) {
        --header-height: 56px;
    }
}
