<mat-accordion>
    <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
    >
        <mat-expansion-panel-header>
            <mat-panel-title>
                Какая разница между декораторами "@Input()" и "@Output()"?
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            Компоненты Angular могут принимать от родителя данные и так же их
            отдавать. За это как раз и отвечают декораторы
            <code>@Input()</code> и <code>@Output()</code>, где исходя из
            названия становится понятно, что:
        </p>
        <ul>
            <li>
                <code>@Input() </code> -
                <span class="attention"> принимает входящие данные </span>
                (пропсы);
            </li>
            <li>
                <code> @Output() </code> -
                <span class="attention">
                    отдает родителю данные при срабатывании какого-то события.
                </span>
            </li>
        </ul>
    </mat-expansion-panel>
</mat-accordion>
