@for (question of questionsAndAnswersProps; track $index) {
    <article class="question-card" [ngClass]="{ 'question-card_active': $index === questionIndexProps }">
        <div class="question-card__description">
            <h2 class="question-card__title">{{ question.question }}</h2>
        </div>
        <mat-radio-group class="question-card__radio-group">
            @for (answers of question.answers; track $index) {
                <mat-radio-button
                    class="question-card__radio-button"
                    [value]="answers.text"
                    (change)="setNewCurrentValue(answers)"
                >
                    {{ answers.text }}
                </mat-radio-button>
            }
        </mat-radio-group>
    </article>
}
