<mat-accordion>
    <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
    >
        <mat-expansion-panel-header>
            <mat-panel-title>
                Как сделать асинхронную загрузку модуля?
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            Асинхронная маршрутизация (lazy load routing)
            <span class="attention"
                >решает проблему оптимизации загрузки приложения</span
            >
            и используется в основном, когда приложение начинает разрастаться и
            увеличивается общее время его загрузки.
        </p>
        <p>
            <span class="attention">
                Асинхронная маршрутизация позволяет загружать модули в момент
                обращения пользователя к одному из его маршрутов или загружать
                только те, которые доступны пользователю в зависимости от его
                прав.
            </span>
        </p>
        <pre><code><span class="keyword">const</span> <span class="variable">routes</span>: <span class="type">Routes</span> <span class="operator">=</span> <span class="punctuation">[</span>
	<span class="punctuation">{{'{'}}</span>
		<span class="key">path</span>: <span class="string">'items'</span>,
		<span class="key">loadChildren</span>: <span class="punctuation">()</span> <span class="operator">=></span> <span class="import">import</span><span class="punctuation">(</span><span class="string">'./items/items.module'</span><span class="punctuation">)</span>.<span class="keyword">then</span><span class="punctuation">(</span>m <span class="operator">=></span> m.<span class="class-name">ItemsModule</span><span class="punctuation">)</span>,
		<span class="key">canLoad</span>: <span class="punctuation">[</span><span class="class-name">AuthGuard</span><span class="punctuation">]</span> <span class="comment">// для lazy load используется именно canLoad guard</span>
	<span class="punctuation">{{'}'}}</span>
<span class="punctuation">]</span>;</code></pre>
        <p>
            Также в Angular
            <span class="attention"
                >можно загружать асинхронные модули в фоновом режиме</span
            >. По умолчанию данная опция отключена.
        </p>
        <p>
            Для того, чтобы включить загрузку асинхронных модулей в фоновом
            режиме, необходимо в объекте конфигурации вторым параметром методу
            маршрутизации <code>forRoot</code> передать свойство
            <code>preloadStrategy</code> со значением
            <code>PreloadAllModules</code>:
        </p>
        <pre><code><span class="class-name">RouterModule</span>.<span class="method">forRoot</span><span class="punctuation">( {{'{}'}}</span>, <span class="punctuation">{{'{'}}</span> <span class="key">preloadingStrategy</span>: <span class="class-name">PreloadAllModules</span> <span class="punctuation">{{'}'}})</span></code></pre>
        <p>
            Также
            <span class="attention"
                >можно создавать собственные сценарии предзагрузки</span
            >. Обычно это делается, когда у вас большое приложение и какие-то
            страницы посещаются часто, а какие-то - нет. Логично, что часто
            используемые модули нужно подгружать фоном в первую очередь.
        </p>
        <pre><code><span class="comment">// custom-preloading-strategy.service.ts</span>
<span class="keyword">@Injectable</span><span class="punctuation">({{'{'}}</span> <span class="key">providedIn</span>: <span class="string">'root'</span> <span class="punctuation">{{'}'}})</span>
<span class="export">export</span> <span class="keyword">class</span> <span class="class-name">CustomPreloadingStrategyService</span> <span class="keyword">implements</span> <span class="interface-name">PreloadingStrategy</span> <span class="punctuation">{{'{'}}</span>
	<span class="method">preload(</span>route: <span class="type">Route</span>, load: <span class="type">() => Observable<span>{{'<'}}</span>any></span><span class="punctuation">)</span>: <span class="type">Observable<span>{{'<'}}</span>any></span> <span class="punctuation">{{'{'}}</span>
		<span class="keyword">const</span> <span class="variable">popularModules</span>: <span class="type">any</span> <span class="operator">=</span>  <span class="punctuation">[</span><span class="string">'contacts'</span>, <span class="string">'products'</span><span class="punctuation">]</span>
		<span class="keyword">if</span> <span class="punctuation">(</span>popularModules.<span class="method">includes(</span>route.path<span class="punctuation">)) {{'{'}}</span>
			<span class="return">return</span> <span class="function-name">load()</span>
		<span class="punctuation">{{'}'}}</span> <span class="keyword">else</span> <span class="punctuation">{{'{'}}</span>
			<span class="return">return</span> <span class="function-name">of</span><span class="punctuation">(</span><span class="null">null</span><span class="punctuation">)</span>
		<span class="punctuation">{{'}'}}</span>
 	<span class="punctuation">{{'}'}}</span>
<span class="punctuation">{{'}'}}</span></code></pre>
        <p>
            В примере выше предварительно загружаются модули, URL которых
            начинается с одного из значений, описанных в массиве переменной
            <code>popularModules</code>. Метод <code>preload</code> всегда
            должен возвращать Observable и вызывается для каждого маршрута с
            двумя аргументами - маршрут (<code>route</code>) и функция загрузки
            модуля (<code>load</code>). Если модуль не удовлетворяет критерию
            предварительной загрузки, необходимо вернуть
            <code>Observable</code> со значением <code>null</code>.
        </p>
        <p>
            И теперь остается лишь указать данную стратегию в свойстве
            <code>preloadStrategy</code>:
        </p>
        <pre><code><span class="class-name">RouterModule</span>.<span class="method">forRoot</span><span class="punctuation">( {{'{}'}}</span>, <span class="punctuation">{{'{'}}</span> <span class="key">preloadingStrategy</span>: <span class="class-name">CustomPreloadingStrategyService</span> <span class="punctuation">{{'}'}})</span></code></pre>
    </mat-expansion-panel>
</mat-accordion>
