<mat-accordion>
    <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
    >
        <mat-expansion-panel-header>
            <mat-panel-title>
                Как работает цепочка прототипов в JavaScript?
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            Каждый объект в JavaScript имеет свой объект-прототип. Но при этом,
            объект-прототип может иметь свой прототип и наследовать его свойства
            и методы (и так далее).
        </p>
        <p>
            Иначе говоря, если в родительском объекте не находится нужное
            свойство или метод, то оно ищется в прототипе данного объекта. Если
            в прототипе объекта не было найдено искомое свойство или метод и у
            прототипа объекта есть свой собственный прототип, то свойство или
            метод будут уже искаться в нем. То есть,
            <span class="attention">
                поиск идет по цепочке прототипов сверху вниз
            </span>
            .
        </p>
    </mat-expansion-panel>
</mat-accordion>
