:host {
    height: var(--footer-height);

    mat-toolbar {
        @media (max-width: 768px), (max-height: 440px) {
            height: auto;
            padding: 4px 12px;
        }
    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &__copyrights {
        font-size: 12px;
        margin: 0;
    }
}
