$blue-black-palette: (
    50: #eaf3fd,
    100: #cbe2fa,
    200: #a8cff7,
    300: #85bcf4,
    400: #6aadf1,
    500: #509fef,
    600: #4997ed,
    700: #408deb,
    800: #3783e8,
    900: #2772e4,
    A100: #ffffff,
    A200: #edf4ff,
    A400: #bad4ff,
    A700: #a1c4ff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);
