$orange-palette: (
    50: #fcf2e7,
    100: #f8dec3,
    200: #f3c89c,
    300: #eeb274,
    400: #eaa256,
    500: #e69138,
    600: #e38932,
    700: #df7e2b,
    800: #db7424,
    900: #d56217,
    A100: #ffffff,
    A200: #ffe3d4,
    A400: #ffc3a1,
    A700: #ffb287,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);
