$pink-black-palette: (
    50: #ffe9f3,
    100: #ffc9e1,
    200: #ffa5ce,
    300: #ff81ba,
    400: #ff66ab,
    500: #ff4b9c,
    600: #ff4494,
    700: #ff3b8a,
    800: #ff3380,
    900: #ff236e,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffd2e0,
    A700: #ffb8cf,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);
