$teal-palette: (
    50: #f3fcfb,
    100: #e1f8f5,
    200: #cdf3ef,
    300: #b9eee9,
    400: #aaebe4,
    500: #9be7df,
    600: #93e4db,
    700: #89e0d7,
    800: #7fddd2,
    900: #6dd7ca,
    A100: #ffffff,
    A200: #ffffff,
    A400: #e8fffc,
    A700: #cffff9,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #000000,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);
