.result {
    &__title {
        text-align: center;
    }

    &__subtitle {
    }

    &__answers {
    }

    &__answer {
        color: lightgreen;

        &_wrong {
            color: red;
        }
    }
}
