<mat-accordion>
    <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
    >
        <mat-expansion-panel-header>
            <mat-panel-title>
                Как отследить изменения в реактивной форме?
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            Отслеживание изменений формы осуществляется через подписку на
            <code>valueChanges</code>. Функция обработчик принимает параметром
            значение формы.
        </p>
        <pre><code><span class="object">this</span>.someForm.valueChanges.<span class="method">subscribe</span><span class="punctuation">((</span>value<span class="punctuation">)</span> <span class="operator">=></span> <span class="punctuation">{{'{'}}</span>
  console.<span class="method">log</span><span class="punctuation">(</span>value<span class="punctuation">)</span>
<span class="punctuation">{{'}'}})</span></code></pre>
        <p>Использовать valueChanges можно применительно к отдельному полю:</p>
        <pre><code><span class="object">this</span>.someForm.<span class="method">get</span><span class="punctuation">(</span><span class="string">'login'</span><span class="punctuation">)</span>.valueChanges.<span class="method">subscribe</span><span class="punctuation">((</span>value<span class="punctuation">)</span> <span class="operator">=></span> <span class="punctuation">{{'{'}}</span>
  console.<span class="method">log</span><span class="punctuation">(</span>value<span class="punctuation">)</span>
<span class="punctuation">{{'}'}})</span></code></pre>
        <p>
            Если необходимо отследить изменение статуса формы, то нужно
            подписаться на <code>statusChanges</code>:
        </p>
        <pre><code><span class="object">this</span>.someForm.statusChanges.<span class="method">subscribe</span><span class="punctuation">((</span>status<span class="punctuation">)</span> <span class="operator">=></span> <span class="punctuation">{{'{'}}</span>
  console.<span class="method">log</span><span class="punctuation">(</span>status<span class="punctuation">)</span>
<span class="punctuation">{{'}'}})</span></code></pre>
        <p>Аналогично и для конкретного поля формы:</p>
        <pre><code><span class="object">this</span>.someForm.<span class="method">get</span><span class="punctuation">(</span><span class="string">'login'</span><span class="punctuation">)</span>.statusChanges.<span class="method">subscribe</span><span class="punctuation">((</span>status<span class="punctuation">)</span> <span class="operator">=></span> <span class="punctuation">{{'{'}}</span>
  console.<span class="method">log</span><span class="punctuation">(</span>status<span class="punctuation">)</span>
<span class="punctuation">{{'}'}})</span></code></pre>
    </mat-expansion-panel>
</mat-accordion>
