<mat-accordion>
    <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
    >
        <mat-expansion-panel-header>
            <mat-panel-title> Что такое компонент в Angular? </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            <span class="attention">Angular компонент</span> - это часть
            интерфейса приложения с собственными шаблоном, логикой и стилями.
            Причем последние два являются необязательными.
        </p>
        <p>Все компоненты в совокупности и есть Angular App.</p>
        <p>
            За создание компонента отвечает декоратор
            <code>@Component()</code>.
        </p>
        <pre><code><span class="keyword">@Component</span><span class="punctuation">{{'({'}}</span>
	<span class="key">selector</span>: 'app-root', <span class="comment">// название компонента</span>
	<span class="key">templateUrl</span>: './app.component.html', <span class="comment">// путь к HTML-файлу. Является обязательным свойством</span>
	<span class="key">styleUrls</span>: ['./app.component.scss'], <span class="comment">// массив путей к SCSS-файлам</span>
<span class="punctuation">{{'})'}}</span>
<span class="export">export</span> <span class="keyword">class</span> <span class="class-name">AppComponent</span> <span class="punctuation">{{'{}'}}</span> <span class="comment">// класс, к которому привязывается декоратор @Component()</span>
	</code></pre>
    </mat-expansion-panel>
</mat-accordion>
