<mat-accordion>
    <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
    >
        <mat-expansion-panel-header>
            <mat-panel-title>
                Можно ли подписываться на события в конструкторе класса
                компонента?
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            <span class="attention">
                В конструкторе класса не стоит делать какие-либо подписки на
                события</span
            >, потому что когда вызывается конструктор класса, то
            <span class="attention">
                инициализируется лишь класс будущего компонента, но не сам
                компонент</span
            >. Следовательно, в этот момент нет никакой гарантии, что данная
            подписка сработает.
        </p>
        <p>
            Подписки на события можно делать в методах класса или на любом этапе
            жизненного цикла компонента, за исключением <code>OnDestroy</code>,
            потому что какой смысл делать на что-то подписку, когда компонент
            уничтожается. Если только вы хотите создать себе лишних проблем с
            утечкой памяти.
        </p>
    </mat-expansion-panel>
</mat-accordion>
