<mat-accordion>
    <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
    >
        <mat-expansion-panel-header>
            <mat-panel-title>
                Может ли в компоненте быть более одной директивы
                "router-outlet"?
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            В Angular есть основные и второстепенные маршруты.
            <span class="attention"
                >В пределах одного компонента может быть только один основной
                маршрут и сколько угодно второстепенных</span
            >. При этом
            <span class="attention"
                >основные и второстепенные маршруты полностью независимы друг от
                друга</span
            >.
        </p>
        <p>
            Основные создается как обычно, а для создания второстепенных
            маршрутов при их определении нужно указать значения атрибута
            <code>name</code>:
        </p>
        <pre><code><span class="tag"><</span><span class="tag">router-outlet</span><span class="tag">></span><span class="tag"><</span><span class="tag">/router-outlet></span> <span class="comment">// основной маршрут</span>
<span class="tag"><</span><span class="tag">router-outlet</span> <span class="attribute">name</span><span class="operator">=</span><span class="string">"secondary"</span><span class="tag">></span><span class="tag"><</span><span class="tag">/router-outlet></span> <span class="comment">// второстепенный маршрут</span></code></pre>
        <p>Как этим пользоваться при задании маршрутов для компонентов:</p>
        <pre><code><span class="keyword">const</span> <span class="variable">routes</span>: <span class="type">Routes</span> <span class="operator">=</span> <span class="punctuation">[</span>
	<span class="punctuation">{{'{'}}</span>
		<span class="key">path</span>: <span class="string">'products'</span>,
		<span class="key">component</span>: <span class="class-name">ProductsComponent</span>,
	<span class="punctuation">{{'}'}}</span>,
	<span class="punctuation">{{'{'}}</span>
		<span class="key">path</span>: <span class="string">'products'</span>,
		<span class="key">component</span>: <span class="class-name">СosmeticsComponent</span>,
		<span class="key">outlet</span>: <span class="string">'secondary'</span> <span class="comment">// сообщаем Angular, что это второстепенный маршрут</span>
	<span class="punctuation">{{'}'}}</span>,
<span class="punctuation">]</span>

<span class="comment">// Будут показаны оба компонента, т.к. один основной, а второй - второстепенный.</span></code></pre>
        <p>
            В атрибуте <code>outlet</code> указывается какой именно из
            второстепенных маршрутов использовать. В данном случае, в шаблоне
            имя второстепенной директивы <code>router-outlet</code> равно
            "secondary", такое же имя указано в свойстве <code>outlet</code> в
            переменной <code>routes</code>.
        </p>
    </mat-expansion-panel>
</mat-accordion>
