<div class="content__item">
    <app-renderer></app-renderer>
</div>
<div class="content__item">
    <app-other-scripts-and-styles-connect></app-other-scripts-and-styles-connect>
</div>
<div class="content__item">
    <app-angular-cli></app-angular-cli>
</div>
<div class="content__item">
    <app-module-in-angular></app-module-in-angular>
</div>
<div class="content__item">
    <app-compilation-mechanisms></app-compilation-mechanisms>
</div>
<div class="content__item">
    <app-data-binding-mechanisms></app-data-binding-mechanisms>
</div>
<div class="content__item">
    <app-custom-events></app-custom-events>
</div>
<div class="content__item">
    <app-cycle-optimization-ngfor></app-cycle-optimization-ngfor>
</div>
<div class="content__item">
    <app-difference-between-ngcontainer-and-ngtemplate></app-difference-between-ngcontainer-and-ngtemplate>
</div>
<div class="content__item">
    <app-dependency-injection></app-dependency-injection>
</div>
<div class="content__item">
    <app-change-detection></app-change-detection>
</div>
<div class="content__item">
    <app-change-detection-ref></app-change-detection-ref>
</div>
