<div class="content__item">
    <app-routing-in-angular></app-routing-in-angular>
</div>
<div class="content__item">
    <app-non-existent-routes></app-non-existent-routes>
</div>
<div class="content__item">
    <app-route-order></app-route-order>
</div>
<div class="content__item">
    <app-navigation-in-angular></app-navigation-in-angular>
</div>
<div class="content__item">
    <app-routes-with-params></app-routes-with-params>
</div>
<div class="content__item">
    <app-many-router-outlets></app-many-router-outlets>
</div>
<div class="content__item">
    <app-routing-events></app-routing-events>
</div>
<div class="content__item">
    <app-guards-in-angular></app-guards-in-angular>
</div>
