<section class="home">
    <div class="home__header">
        <h1 class="home__title">Добро пожаловать в Helper</h1>
        <p class="home__text">
            Ниже представлены разделы, в которых вы сможете найти много полезной
            теоретической и практической информации.
        </p>
        <p class="home__text">
            Выберите любой интересующий вас раздел для более подробного
            ознакомления
        </p>
    </div>
    <div class="home__body">
        <article class="home__chapter" *ngFor="let chapter of chapters">
            <h2 class="home__subtitle title">{{ chapter.title }}</h2>
            <ng-container *ngFor="let link of chapter.links">
                <a
                    *ngIf="link.route"
                    mat-raised-button
                    color="primary"
                    [routerLink]="link.route"
                    [href]="link.href"
                    [ngClass]="{ disabled: link.disabled }"
                >
                    {{ link.name }}
                </a>
                <a
                    *ngIf="link.href"
                    mat-raised-button
                    color="primary"
                    [href]="link.href"
                    target="_blank"
                    [ngClass]="{ disabled: link.disabled }"
                >
                    {{ link.name }}
                </a>
            </ng-container>
        </article>
    </div>
</section>
