.home {
    background: linear-gradient(#7b1fa2, #303030);
    color: #fff;
    padding: 0 15px;

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 40vh;
    }

    &__text {
        font-size: 20px;
        font-weight: 300;
        line-height: 28px;
        margin: 15px 0 0;
        text-align: center;
    }

    &__body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;
    }
}
