<section class="home">
    <div class="home__header">
        <h1 class="home__title">Добро пожаловать в Helper</h1>
        <p class="home__text">
            Ниже представлены разделы, в которых разобраны ответы на вопросы с
            различных собеседований
        </p>
        <p class="home__text">
            Выберите один из них для более подробного ознакомления
        </p>
    </div>
    <div class="home__body">
        <article class="home__chapter">
            <h2 class="home__subtitle title">
                Вопросы с собеседований и ответы на них
            </h2>
            <a mat-raised-button color="primary" routerLink="javascript">
                JavaScript
            </a>
            <a mat-raised-button color="primary" routerLink="angular">
                Angular
            </a>
            <a
                mat-raised-button
                color="primary"
                routerLink="git"
                class="disabled"
            >
                Git
            </a>
            <a
                mat-raised-button
                color="primary"
                routerLink="others"
                class="disabled"
            >
                Разное
            </a>
        </article>
        <article class="home__chapter">
            <h2 class="home__subtitle title">Задачи</h2>
            <a
                mat-raised-button
                color="primary"
                routerLink="#"
                class="disabled"
            >
                JavaScript
            </a>
        </article>
        <article class="home__chapter">
            <h2 class="home__subtitle title">Тесты</h2>
            <a
                mat-raised-button
                color="primary"
                routerLink="#"
                class="disabled"
            >
                JavaScript
            </a>
            <a
                mat-raised-button
                color="primary"
                routerLink="#"
                class="disabled"
            >
                Angular
            </a>
            <a
                mat-raised-button
                color="primary"
                routerLink="#"
                class="disabled"
            >
                Git
            </a>
            <a
                mat-raised-button
                color="primary"
                routerLink="#"
                class="disabled"
            >
                Разное
            </a>
        </article>
    </div>
</section>
