<mat-accordion>
    <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
    >
        <mat-expansion-panel-header>
            <mat-panel-title>
                У какого типа данных в Angular можно вызвать метод "pipe"?
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            <span class="attention">Метод </span> <code>pipe</code>
            <span class="attention">
                применяется к данным, имеющих тип данных
            </span>
            <code>Observable</code>
            <span class="attention"> или его разновидности</span> (например,
            <code>Subject</code>).
        </p>
        <p>
            Причем внутри себя метод <code>pipe</code> принимает только те
            операторы, которые принимают <code>Observable</code> и возвращают
            <code>Observable</code>.
        </p>
    </mat-expansion-panel>
</mat-accordion>
