<div class="content__item"><app-rxjs-in-angular></app-rxjs-in-angular></div>
<div class="content__item">
    <app-observable-in-angular></app-observable-in-angular>
</div>
<div class="content__item">
    <app-difference-between-observable-and-promise></app-difference-between-observable-and-promise>
</div>
<div class="content__item">
    <app-from-primitive-to-observable></app-from-primitive-to-observable>
</div>
<div class="content__item">
    <app-difference-between-observable-and-subject></app-difference-between-observable-and-subject>
</div>
<div class="content__item">
    <app-subject-varieties></app-subject-varieties>
</div>
