.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    padding: 24px;

    &__title {
        text-align: center;
        display: none;

        &_desktop {
            font-size: 24px;
            margin: 0;

            @media (min-width: 993px) and (min-height: 441px) {
                display: block;
            }
        }

        &_mobile {
            @media (max-width: 992px), (max-height: 440px) {
                display: block;
            }
        }

        span {
            white-space: nowrap;
        }
    }
}
