.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background: linear-gradient(180deg, var(--primary) 0%, var(--secondary) 100%);
    padding: 24px;

    &__title {
        text-align: center;
        display: none;

        &_desktop {
            margin: 0;

            @media (min-width: 993px) and (min-height: 441px) {
                display: block;
            }
        }

        &_mobile {
            @media (max-width: 992px), (max-height: 440px) {
                display: block;
            }
        }

        span {
            white-space: nowrap;
        }
    }
}
