// $primary: #7b1fa2;
// $secondary: #303030;

html,
body {
    height: 100%;
}
body {
    color: white;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body > app-root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

img,
svg {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
}

.main-color {
    color: #7b1fa2;
}

.secondary-color {
    color: #303030;
}

.attention {
    color: #fbec5d;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

* {
    // стилизация скролла для Firefox
    scrollbar-color: #7b1fa2 #303030; /* «цвет ползунка» и «цвет полосы скроллбара» */
    scrollbar-width: thin;
    // стилизация скролла для Chrome
    &::-webkit-scrollbar {
        // это фон самого скроллбара
        background-color: #303030;
        border-radius: 0.5rem;
        width: 0.5rem;
        height: 0.5rem;
    }
    &::-webkit-scrollbar-thumb {
        // индикатор прокрутки, перетаскиваемый элемент.
        background-color: #7b1fa2;
        border-radius: 0.5rem;
    }
}

.content {
    display: grid;
    grid-template-columns: 15rem 1fr;
    height: calc(100% - 56px);
    @media (max-width: 768px), (max-height: 440px) {
        grid-template-columns: 1fr;
        height: auto;
    }

    &_simple {
        grid-template-columns: 1fr;
        grid-auto-rows: max-content;
    }

    &__items {
    }

    &__item + &__item {
        margin-top: 12px;

        @media (max-width: 440px), (max-height: 440px) {
            margin-top: 6px;
        }
    }

    .mat-expansion-panel-header {
        height: auto;
        padding: 12px 24px;

        @media (max-width: 440px), (max-height: 440px) {
            grid-template-columns: 1fr;
            padding: 12px;
        }
    }

    .mat-expansion-panel-body {
        @media (max-width: 440px), (max-height: 440px) {
            padding: 12px;
        }
    }
}

.subtitle {
    font-size: 14px;
    line-height: 1.3;
    font-weight: 500;
    color: #ffd0a9;
    margin: 12px 0;
    display: inline-block;
    font-style: normal;
}

pre {
    display: flex;
    align-items: center;
    max-width: calc(100vw - 48px);
    overflow-x: auto;
    overflow-y: hidden;

    @media (max-width: 440px), (max-height: 440px) {
        max-width: calc(100vw - 24px);
    }
}

code {
    padding: 16px;
    display: block;

    @media (max-width: 440px), (max-height: 440px) {
        padding: 8px;
    }
}

p > code,
li > code {
    display: inline-block;
    padding: 0 2px;
}

// ==============
// РАСКРАСКА КОДА
code {
    color: #f5fffa;
    background-color: #282a36;
    tab-size: 4;

    @media (max-width: 440px), (max-height: 440px) {
        tab-size: 2;
    }
}

.number,
.string {
    color: #deb887;
}

.punctuation,
.function-name,
.method {
    color: #fbec5d;
}

.keyword {
    color: #50c878;
}

.object {
    color: #da70d6;
}

.comment {
    color: #168081;
}

.operator,
.class-name,
.interface-name {
    color: #f53d68;
}

.key,
.type {
    color: #5ec4cd;
}

.export,
.tag {
    color: #9391ff;
}

.variable,
.attribute {
    color: #d7a4ff;
}

p > code,
li > code {
    background-color: initial;
    color: #d7a4ff;
}

// ==============
