<div class="content__item">
    <mat-accordion>
        <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
        >
            <mat-expansion-panel-header>
                <mat-panel-title> Что такое замыкания? </mat-panel-title>
            </mat-expansion-panel-header>
            <p>В разработке...</p>
            <!-- <p>
                Если отвечать очень примитивным языком, то замыкание - это
                <span class="attention">функция внутри другой функции</span>. Но
                при этом у внутренней функции создается уже
                <span class="attention">
                    свое лексическое окружение, зависящее от того, где была
                    инициализирована внешняя функция </span
                >. Например, во внешнюю функцию были переданы какие-то
                аргументы, проведены какие-то операции с ними и записаны в новые
                переменные, которые уже были переданы внутрь дочерней функции.
                Эти самые новые переменные и будут лексическим окружением
                дочерней функции.
            </p> -->
            <!-- <pre>
<code><span class="object">Object</span>.prototype.<span class="function-name">sayHello</span> = <span class="keyword">function</span><span class="punctuation">()</span><span class="punctuation">{{ '{' }}</span>...<span class="punctuation">{{ '}' }}</span><span></span>
</code>
</pre> -->
        </mat-expansion-panel>
    </mat-accordion>
</div>
<div class="content__item">
    <mat-accordion>
        <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
        >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Почему функции, объявленные через "Function Declaration"
                    можно вызывать перед их объявлением в коде?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                Функции, объявленные через "Function Declaration", в отличие от
                переменных, объявленных с помощью let и const (сюда же входит и
                "Function Expresion"),
                <span class="attention">
                    инициализируются, когда создаётся их лексическое окружение,
                </span>
                а не когда происходит их вызов в коде.
            </p>
            <p>
                Лексическое окружение "Function Declaration" создается сразу
                после начала считывания кода интерпритатором.
            </p>
        </mat-expansion-panel>
    </mat-accordion>
</div>
