<section class="home">
    <div class="home__header">
        <h1 class="home__title">Добро пожаловать в Helper</h1>
        <p class="home__text">
            Ниже представлены разделы, в которых вы сможете найти много полезной теоретической и практической
            информации.
        </p>
        <p class="home__text">Выберите любой интересующий вас раздел для более подробного ознакомления</p>
    </div>
    <div class="home__body">
        @for (chapter of chapters; track $index) {
            <article class="home__chapter">
                <h2 class="home__subtitle title">{{ chapter.name }}</h2>
                @if (chapter?.linkType === menuLinkType) {
                    <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">{{ chapter.menuName }}</button>
                    <mat-menu #menu="matMenu">
                        <ng-container *ngTemplateOutlet="links; context: { chapter, type: 'menu-item' }"></ng-container>
                    </mat-menu>
                } @else {
                    <ng-container *ngTemplateOutlet="links; context: { chapter, type: 'link' }"></ng-container>
                }
            </article>
        }
    </div>
</section>
<app-footer></app-footer>

<ng-template #links let-type="type" let-chapter="chapter">
    @for (link of chapter.links; track $index) {
        @if (type === "menu-item") {
            <a mat-menu-item color="primary" [href]="link.path" target="_blank" [ngClass]="{ disabled: link.disabled }">
                {{ link.name }}
            </a>
        } @else {
            <a
                mat-raised-button
                color="primary"
                [routerLink]="[chapter.path, link.path]"
                [ngClass]="{ disabled: link.disabled }"
            >
                {{ link.name }}
            </a>
        }
    }
</ng-template>
