<div class="content__item">
    <app-bootstrap-in-ng-module></app-bootstrap-in-ng-module>
</div>
<div class="content__item">
    <app-difference-between-input-and-output></app-difference-between-input-and-output>
</div>
<div class="content__item">
    <app-object-props-in-decorator-input></app-object-props-in-decorator-input>
</div>
<div class="content__item">
    <app-decorator-injectable></app-decorator-injectable>
</div>
<div class="content__item">
    <app-decorator-skipself></app-decorator-skipself>
</div>
<div class="content__item">
    <app-decorator-optional></app-decorator-optional>
</div>
