<mat-accordion>
    <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
    >
        <mat-expansion-panel-header>
            <mat-panel-title>
                Как передаются параметры в динамических путях?
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            Динамические пути строятся на основе каких-то данных. Самый простой
            пример - это отображение какого-либо товара по заданному "id".
        </p>
        <p>
            <span class="attention"
                >Динамические пути создаются путем добавления</span
            >
            "<code>:</code>"
            <span class="attention">
                перед частью маршрута, в которой мы хотим выводить контент в
                зависимости от каких-то данных</span
            >.
        </p>
        <pre><code><span class="keyword">const</span> <span class="variable">routes</span>: <span class="type">Routes</span> <span class="operator">=</span> <span class="punctuation">[</span>
	<span class="punctuation">{{'{'}}</span>
		<span class="key">path</span>: <span class="string">'products'</span>,
		<span class="key">component</span>: <span class="class-name">ProductsComponent</span>,
		<span class="key">children</span>: <span class="punctuation">[{{'{'}}</span>
			<span class="key">path</span>: <span class="string">'product/:id'</span>, <span class="comment">// маршрут зависит от переданного id</span>
			<span class="key">component</span>: <span class="class-name">ProductComponent</span>
			<span class="key">data</span>: <span class="punctuation">{{'{'}}</span><span class="key">breadcrumbs</span>: <span class="string">'Product info'</span><span class="punctuation">{{'}'}}</span>
		<span class="punctuation">{{'}'}}]</span>,
	<span class="punctuation">{{'}'}}</span>,
<span class="punctuation">]</span></code></pre>
        <p>
            Получить всю необходимую информацию, включая динамические параметры,
            можно из сервиса <code>ActivatedRoute</code>.
        </p>
        <pre><code><span class="export">export</span> <span class="keyword">class</span> <span class="class-name">ProductComponent</span> <span class="punctuation">{{'{'}}</span>
	<span class="keyword">constructor</span><span class="punctuation">(</span><span class="keyword">private</span> route: <span class="service-name">ActivatedRoute</span><span class="punctuation">) {{'{'}}</span>
		console.<span class="method">log</span><span class="punctuation">(</span><span class="object">this</span>.route<span class="punctuation">)</span> <span class="comment">// объект с различной информацией о текущем маршруте </span>
	<span class="punctuation">{{'}'}}</span>
<span class="punctuation">{{'}'}}</span></code></pre>
        <i class="subtitle"
            >В каком месте надо передавать динамические параметры?</i
        >
        <p>
            Первый вариант: в методе <code>navigate</code>, который вторым
            параметром принимает объект с дополнительными данными маршрута:
        </p>
        <pre><code><span class="object">this</span>.router.<span class="method">navigate</span><span class="punctuation">([</span><span class="string">'profile'</span>, <span class="number">6</span><span class="punctuation">]</span>, <span class="punctuation">{{'{'}}</span>
	<span class="key">queryParams</span>: <span class="punctuation">{{'{'}}</span> <span class="key">id</span>: <span class="number">6</span> <span class="punctuation">{{'}'}}</span>
<span class="punctuation">{{'}'}})</span></code></pre>
        <p>
            И второй вариант: непосредственно в шаблоне в директиве
            <code>routerLink</code>.
        </p>
        <pre><code><span class="tag"><</span><span class="tag">a</span> <span class="punctuation">[</span><span class="directive">routerLink</span><span class="punctuation">]</span><span class="operator">=</span><span class="punctuation">[</span><span class="string">"/product"</span>, <span class="number">"6"</span><span class="punctuation">]</span><span class="tag">></span>Ссылка на какой-то продукт<span class="tag"><</span><span class="tag">/a></span> <span class="comment">// Вместо цифры 6 может быть какая-то переменная</span></code></pre>
    </mat-expansion-panel>
</mat-accordion>
