:host {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;

    .settings {
        width: 100%;
        max-width: 1424px;
        margin: 0 auto;
        padding: 2rem 0.5rem;

        @media (max-width: 440px), (max-height: 440px) {
            padding: 1rem 0.5rem;
        }

        &__section {
            background-color: var(--mat-form-field-filled-input-text-placeholder-color);
            padding: 1rem 1rem 1.5rem;
            border-radius: 1rem;

            article + article {
                position: relative;
                margin-top: 1rem;

                @media (max-width: 440px), (max-height: 440px) {
                    margin-top: 0.6rem;

                    &::after {
                        display: none;
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    top: -9px;
                    left: 0;
                    background-color: var(--primary-color);
                    opacity: 0.3;
                }
            }
        }

        & > section + section {
            margin-top: 1.5rem;

            @media (max-width: 440px), (max-height: 440px) {
                margin-top: 1rem;
            }
        }

        &__article {
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            padding-left: 2rem;

            @media (max-width: 440px) {
                flex-direction: column;
                padding-left: 0;
                gap: 0;
            }

            & + & {
            }
        }

        &__article {
            margin-top: 1rem;

            @media (max-width: 440px), (max-height: 440px) {
                margin-top: 0.6rem;
            }
        }

        &__subtitle {
            flex-basis: 40%;
            margin-bottom: 0;

            @media (max-width: 992px), (max-height: 576px) {
                flex-basis: 50%;
            }

            @media (max-width: 440px) {
                margin-bottom: 4px;
            }
        }

        &__choice {
            flex-basis: 40%;

            @media (max-width: 992px), (max-height: 576px) {
                flex-basis: 50%;
            }

            mat-form-field {
                position: relative;
                width: 100%;

                @media (max-width: 440px), (max-height: 440px) {
                    & ::ng-deep .mat-mdc-form-field-subscript-wrapper {
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }

                &.mat-form-field-disabled {
                    background: rgba(255, 255, 255, 0.76);
                    border-radius: 4px 4px 0 0;
                }
            }

            ::ng-deep .mat-mdc-form-field-subscript-wrapper {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}
